<footer>
        <div class="row">
            <div class="col-sm-6 col-md-4 footer-navigation">
                <img src="assets/img/fablab.png" style="width: 80px; height: 70px;"><br><br>
                <!-- <h3><a href="#">Company<span>logo </span></a></h3> -->
                <p class="links"><a href="#">Home</a><strong> · </strong><a href="#">Machine</a><strong> </strong><a href="#"></a><strong> · </strong><a href="#">About</a><strong> · </strong><a href="#"></a><strong></strong><a href="#">Contact</a></p>
                <p class="company-name">Tech park © 2017 </p>
            </div>
            <div class="col-sm-6 col-md-4 footer-contacts">
                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p><span class="new-line-span">Thimphu, Bhutan</span> Tech Park</p>
                </div>
                <div><i class="fa fa-phone footer-contacts-icon"></i>
                    <p class="footer-center-info email text-start"> +975 245 265 86</p>
                </div>
                <div><i class="fa fa-envelope footer-contacts-icon"></i>
                    <p> <a href="#" target="_blank">DHI, drive@.com</a></p>
                </div>
            </div>
            <div class="col-md-4 footer-about">
                <h4>About the company</h4>
                <p> NRDCL is owned by Druk Holding and Investments (DHI), which is a 100% Government owned Investment Company and is governed by the Articles of Incorporation under the revised Companies Act of the Kingdom of Bhutan 2000. </p>
                <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
            </div>
        </div>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="assets/js/Animated-Testimomial.js"></script>
    <script src="assets/js/Fixed-navbar-starting-with-transparency.js"></script>
    <script src="https://use.fontawesome.com/1744f3f671.js"></script>
    <script src="assets/js/Swiper-Slider-Card-For-Blog-Or-Product.js"></script>
    <script src="assets/js/Testimonial-Slider-9.js"></script>
    <script src="assets/js/WOWSlider-about-us.js"></script>