
<%- include('partials/header.ejs')  %>
<div class="Learn" style="text-align: center; margin:6.5rem 0;">
    <div>
        <header>
            <h1 style=" font-size: 2.5rem; font-family: 'montserrat', sans-serif; margin-top: -18px;"><b>The SFL Story</b></h1>
            <h3 style="margin-top: -10px; font-size: 1.2rem;">Learn. Collaborate. Create</h3>
        </header>
    </div>
</div>

<div class="row" style="margin-left: 3rem; margin-right: 3rem;">           
    <div class="col-8" style=" padding-left: 2rem; width: 100%; margin-top: -4rem;">
        <div class="row clearmargin clearpadding row-image-txt " style=" background: #fff; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border-radius: 20px;">
            <div class="col-xs-12 col-sm-6 col-md-6 clearmargin clearpadding col-sm-push-6" style="background-image:url(assets/img/b3.jpg);background-size:cover; height:350px;   background-position:center; border-radius: 20px; margin-top: 45px;margin-left: 5;"> 
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-sm-pull-6" style="padding:20px;text-align: center;">
                <h3>SFL Story</h3>
                <hr>
                <p style="font-family: bell; font-size: 14px; text-align: justify;">Druk Holding and Investments (“DHI”) Limited, in collaboration with the Bhutan Foundation, USA and the Center of Bits and Atoms (“CBA”) from Massachusetts Institute of Technology (“MIT”), Cambridge, USA, is establishing the first-ever Super Fab Lab (“SFL”) in Bhutan. This facility will be the second of its kind, outside of the United States, and third in the world, with advanced capabilities in research and prototyping. The space will impart an open platform for digital design, fabrication, and innovation with the latest machines and tools, allowing users to make (almost) anything.Druk Holding and Investments (“DHI”) Limited, in collaboration with the Bhutan Foundation, USA and the Center of Bits and Atoms (“CBA”) from Massachusetts Institute of Technology (“MIT”), Cambridge, USA, is establishing the first-ever Super Fab Lab (“SFL”) in Bhutan. This facility will be the second of its kind, outside of the United States, and third in the world, with advanced capabilities in research and prototyping. The space will impart an open platform for digital design, fabrication, and innovation with the latest machines and tools, allowing users to make anything.</p><br>
                <div style="text-align:center">
                </div>
            </div>        
        </div>

<h1 style="margin: 40px; margin-top: 100px; padding-bottom: 10px; text-align: center; font-size: 2.5rem;font-family: montserrat, sans-serif; margin-top: 60px;"><b>Objectives</b></h1>
<div class="about-us" style="text-align: center; margin-top: 2rem;">
    <div class="about-us">
        <div class="row no-gutters" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; padding: 2.5rem 0; margin-right: 3rem; margin-left: 3rem; border-radius: 40px;">
            <div class="col-md-4">
                <div class="img" style="background-size: cover;">
                    <img src="assets/img/logo.png" alt="logo" style="height: 260px; padding-top: 3rem; ">
                </div>
            </div>
            <div class="col-md-8"><br>
                <div class="card-body">
                    <h4 style=" font-size: 1rem; text-align: center;">Vision</h4>
                    <p style="color: black; text-align: center;  font-size: 1.2rem;">“Inspire the future of learning and creating”</p>
                    <h4 style=" font-size: 1rem; text-align: center;">Mission</h4>
                    <p style="color: black; text-align: center; font-size: 1.2rem;">“Provide digital design tools to ignite a culture of innovation”</p>
                </div>
            </div>
        </div>
    </div>
</div> 


<div class="container">
    <h1 style="margin: 60px; margin-top: 100px; padding-bottom: 43px; text-align: center;font-size: 2.5rem;font-family: montserrat, sans-serif; margin-top: 60px; margin-bottom: -10px;"><b>Walk Through Video</b></h1>
    <section class="clean-block clean-info dark" style="border-radius: 40px;">
        <div class="container">
            <div class="videoWrapper"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/yg8Wru_tRBA" class="embed-responsive-item" width="100%" height="500px" style="border-radius: 40px;"></iframe></div>
        </div>
    </section>
    <h1 style="margin: 60px; margin-top: 80px; padding-bottom: 30px; text-align: center;font-size: 2.5rem;font-family: montserrat, sans-serif; margin-top: 50px; margin-bottom: -50px;"><b>Meet Our Team</b></h1>
    <section class="team-grid">
        <div class="container">
            <div class="row people">
                <div class="col-md-4 col-lg-2 item">
                    <div class="box" style="background-image:url(assets/img/tshering.png); border-radius: 20px;">
                        <div class="cover">
                            <h3 class="name">Tshering Wangzom </h3>
                            <p class="title" style="font-family: bell;">Analyst</p>
                            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2 item">
                    <div class="box" style="background-image:url(assets/img/zina.png); border-radius: 30px;">
                        <div class="cover" style="border-radius: 20px;">
                            <h3 class="name">Zina Choden Yonten</h3>
                            <p class="title" style="font-family: bell;">Associate Analyst</p>
                            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2 item">
                    <div class="box" style="background-image:url(assets/img/pema.png); border-radius: 20px;">
                        <div class="cover">
                            <h3 class="name">Pema Thinley</h3>
                            <p class="title" style="font-family: bell;">Analyst</p>
                            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                        </div>
                    </div>
                </div> 
                <div class="col-md-4 col-lg-2 item">
                    <div class="box" style="background-image:url(assets/img/tharc.png); border-radius: 20px;">
                        <div class="cover">
                            <h3 class="name">Jigme Tharchen</h3>
                            <p class="title" style="font-family: bell;">Associate Analyst</p>
                            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2 item">
                    <div class="box" style="background-image:url(assets/img/manish.png); border-radius: 20px;">
                        <div class="cover">
                            <h3 class="name">Manish Rai</h3>
                            <p class="title" style="font-family: bell;">Associate Analyst</p>
                            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2 item">
                    <div class="box" style="background-image:url(assets/img/ava.png); border-radius: 20px;">
                        <div class="cover">
                            <h3 class="name">Pema Thinley Wangchuk</h3>
                            <p class="title" style="font-family: bell;">Associate Analyst</p>
                            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</div>
</div>
<h1 style="margin: 20px;padding: -26px;text-align: center; font-family: 'montserrat', sans-serif; font-size: 2.5rem; margin-top: -7px;"><b>Gallery</b></h1>
<div class="container">
    <div class="row flex-box flex-wrap-wrap" style="margin-left: 2rem; margin-right: 2rem;">
        <div class="col-sm-4 flex-box flex-justify-center flex-align-center"><a class="fancybox" rel="gallery1" title="Hero Image Nature" href="assets/img/ta.jpg"><img class="img-fluid" src="assets/img/ta.jpg"></a></div>
        <div class="col-sm-4 flex-box flex-justify-center flex-align-center"><a class="fancybox" rel="gallery1" title="Hero Image Technology" href="assets/img/printer1.jpg"><img class="img-fluid" src="assets/img/printer1.jpg"></a></div>
        <div class="col-sm-4 flex-box flex-justify-center flex-align-center"><a class="fancybox" rel="gallery1" title="Hero Image Travel" href="assets/img/tro.jpg"><img class="img-fluid" src="assets/img/tro.jpg"></a></div>
        <div class="col-sm-4 flex-box flex-justify-center flex-align-center"><a class="fancybox" rel="gallery1" title="Hero Image Food" href="assets/img/img1.jpg"><img class="img-fluid" src="assets/img/img1.jpg"></a></div>
        <div class="col-sm-4 flex-box flex-justify-center flex-align-center"><a class="fancybox" rel="gallery1" title="Hero Image Music" href="assets/img/sod.jpg"><img class="img-fluid" src="assets/img/sod.jpg"></a></div>
        <div class="col-sm-4 flex-box flex-justify-center flex-align-center"><a class="fancybox" rel="gallery1" title="Hero Image Photography" href="assets/img/drone.jpg"><img class="img-fluid" src="assets/img/drone.jpg"></a></div>
    </div><br><br>
     </div>

<%- include('partials/footer.ejs')  %>

</body>

</html>