<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community Form</title>
       <link rel="stylesheet" href="assets/bootstrap/css/style.css">
</head>
<body>
    <div class="container">
        <div class="title">For Community Membership Form</div>
        <div class="content">
          <form action="/community" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

            <div class="user-details">
              <div class="input-box">
                <span class="details">Organisition Name</span>
                <input type="text" placeholder="Enter your Organisition name" required name="organizationName">
              </div>
              <div class="input-box">
                <span class="details">Location</span>
                <input type="text" placeholder="Enter your location" required name="Location">
              </div>
              <div class="input-box">
                <span class="details">Email</span>
                <input type="text" placeholder="Enter your Organisition email" required name="email">
              </div>
              <div class="input-box">
                <span class="details">Phone Number</span>
                <input type="text" placeholder="Enter your number" required name="phoneNumber">
              </div>
              <div class="input-box">
                <span class="details">Password</span>
                <input type="text" placeholder="Enter your password" required name="password">
              </div>
              <div class="input-box">
                <span class="details">Confirm Password</span>
                <input type="text" placeholder="Confirm your password" required name="confirmpassword">
              </div>
            </div>
            
            </div>
            <div class="button">
              <input type="submit" value="Register">
            </div>
          </form>
        </div>
      </div>
    
</body>
</html>