<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company form</title>
      <link rel="stylesheet" href="assets/bootstrap/css/style.css">
      </head>
      <style>
        body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-image: url(assets/img/b3.jpg);
  }
      </style>
<body>
    <div class="container" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border-radius: 40px; border-bottom: 3px solid #f37b53;">
        <div class="title">For Company Membership Form</div>
        <div class="content">
          <form action="/company" method="POST">
    

            <div class="user-details">
              <div class="input-box">
                <span class="details">Company Name</span>
                <input type="text" placeholder="Enter your Company name" required name="companyName">
              </div>
              <div class="input-box">
                <span class="details">Location</span>
                <input type="text" placeholder="Enter location of your company" required name="Location">
              </div>
              <div class="input-box">
                <span class="details">Email</span>
                <input type="text" placeholder="Enter your Companies email" required name="email">
              </div>
              <div class="input-box">
                <span class="details">Phone Number</span>
                <input type="text" placeholder="Enter your number" required name="phoneNumber">
              </div>
              <div class="input-box">
                <span class="details">Password</span>
                <input type="text" placeholder="Enter your password" required name="password">
              </div>
              <div class="input-box">
                <span class="details">Confirm Password</span>
                <input type="text" placeholder="Confirm your password" required name="confirmpassword">
              </div>
            </div>
            <div class="gender-details">
              <input type="radio" name="gender" value = 'Monthly' id="dot-1">
              <input type="radio" name="gender" value = 'Quarterly' id="dot-2">
              <input type="radio" name="gender" value = 'Yearly' id="dot-3">
              <span class="gender-title">Choose your Memebership package:</span>
              <div class="category">
                 <label for="dot-1">
                <span class="dot one"></span>
                <span class="gender" name="Monthly">Monthly</span>
              </label>
              <label for="dot-2">
                <span class="dot two"></span>
                <span class="gender" name="Quarterly">Quarterly</span>
              </label>
              <label for="dot-3">
                <span class="dot three"></span>
                <span class="gender" name="Yearly">Yearly</span>
                </label>
              </div>
            </div>
            <div class="button">
              <input type="submit" value="Register">
            </div>
          </form>
          <div class="signup-link" style="text-align: center; text-decoration: none;"><span>
            Ready to be a member?</span><span></span><a href="login">Login Now</a>
            </div>
        </div>
      </div>
    
</body>
</html>