<%- include('partials/header.ejs')  %>
<div class="container" style="margin: 25px;padding: 126px;">
    <h1 style="text-align: center;height: -27px;padding: -25px;margin: -55px; font-size: 2.8rem;"><b>Electronic Lab</b></h1>
</div>
<section style="margin: -30px; margin-left: 2rem; margin-right: 2rem;">
    <div class="container" style="margin-top: -120px;">
        <div class="row">
            <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4" style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;">
                <div class="bg-light border rounded shadow card" data-bss-hover-animate="pulse"><img class="card-img-top" src="assets/img/j55.png" height="250px">
                    <div class="card-body">
                        <h4 class="card-title" style="font-family: bell;color: black;">Stratasys J55 Polyjet Printer</h4><p id="lorem">PolyJet is a powerful 3D printing technology that produces smooth, accurate parts, prototypes and tooling. With microscopic layer resolution, it can produce thin walls and complex geometries using the widest range of materials available with any technology.</p><a href="/book" class="joinbtn">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4" style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;margin-right: 0px;margin-bottom: 0px;">
                <div class="bg-light border rounded shadow card" data-bss-hover-animate="pulse"><img class="card-img-top" src="assets/img/3D.jpg" height="250px;">
                    <div class="card-body">
                        <h4 class="card-title" style="font-family: bell;color: black;">3D printers</h4><p id="lorem">They are additive manufacturing machines that make three-dimensional objects from a CAD model or a digital 3D model using filaments typically made of ABS or PLA.</p><br><br><a href="/book" class="joinbtn">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4" style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;">
                <div class="bg-light border rounded shadow card" data-bss-hover-animate="pulse"><img class="card-img-top" src="assets/img/m10.png" height="250px">
                    <div class="card-body">
                        <h4 class="card-title" style="font-family: bell;color: black;">Mechatronika M10 Pick and Place</h4><p id="lorem">Mechatronika M10V can automatically pick and place components from bulk feeders.Makes the placement of components on a PCB board easy and accurate.</p><br><br><a href="/book" class="joinbtn">Read more</a>
                    </div>
                </div>
            </div>
            
           
        </div>
    </div>
</section>
<%- include('partials/footer.ejs')  %>
    
</body>

</html>