<%- include('partials/header.ejs')  %>
<div class="text-center">
  <h1 style="color: black;margin: 5px;padding: 85px; padding-bottom: 2px; font-size: 2.5rem;"><b>Booking</b></h1>
  <h4 style="text-align: center; margin-top: -7px; ">"In order to use the machines, all users must undertake an induction training:"</h4>
</div><br>

<h2 style="text-align: center; font-family: bell; font-size: 1.5rem;">Induction Training</h2>
<p style="color: black; margin-right: 6rem; margin-left: 6rem; margin-top: 10px;  text-align: justify; font-family: bell; font-size: 1rem;">SFL has many machines that can be categorized into different levels of complexity, skill requirements and risk. Based on this, for lab users, standard induction training for the use of machines and the lab will be developed.
  <ul style="color: black; margin-right: 6rem; margin-left: 6rem; margin-top: 10px;  text-align: justify; font-family: bell; font-size: 1rem;">
    <li>The training program will consist of dos and don’ts of the labs, Standard operating procedures of the lab.</li>
    <li>For all the machines, separate training sessions and competency exams will have to be taken.</li>
    <li>For all the first time users and users who will need refreshers training, you will have to go through the training and get competent in the use of the machines.</li>
    <li>The induction training will be given based on the access they have to the different types of machines. Training will also be given based on the membership plans they receive</li>
  </ul>

<!-- Grid row -->
<div class="row" style="margin-left: 3rem; margin-right: 3rem;">

<!-- Grid column -->
<div class="col-lg-4 col-md-12 mb-4">

<!--Modal: Name-->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">

<!--Content-->
<div class="modal-content">

<!--Body-->
<div class="modal-body mb-0 p-0">

  <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U"
      allowfullscreen></iframe>
  </div>

</div>

<!--Footer-->


</div>
<!--/.Content-->

</div>
</div>
<!--Modal: Name-->

<a><img class="img-fluid z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-1.webp" style="border-radius: 30px;" alt="video"
data-toggle="modal" data-target="#modal1"></a>

</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-lg-4 col-md-6 mb-4">

<!--Modal: Name-->
<div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">

<!--Content-->
<div class="modal-content">

<!--Body-->
<div class="modal-body mb-0 p-0">

  <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wTcNtgA6gHs"
      allowfullscreen></iframe>
  </div>

</div>

<!--Footer-->
<div class="modal-footer justify-content-center">
  <span class="mr-4">Spread the word!</span>
  <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
  <!--Twitter-->
  <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
  <!--Google +-->
  <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
  <!--Linkedin-->
  <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>

  <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

</div>

</div>
<!--/.Content-->

</div>
</div>
<!--Modal: Name-->

<a><img class="img-fluid z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-2.webp" style="border-radius: 30px;" alt="video"
data-toggle="modal" data-target="#modal6"></a>

</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-lg-4 col-md-6 mb-4">

<!--Modal: Name-->
<div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">

<!--Content-->
<div class="modal-content">

<!--Body-->
<div class="modal-body mb-0 p-0">

  <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vlDzYIIOYmM"
      allowfullscreen></iframe>
  </div>

</div>

<!--Footer-->
<div class="modal-footer justify-content-center">
  <span class="mr-4">Spread the word!</span>
  <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
  <!--Twitter-->
  <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
  <!--Google +-->
  <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
  <!--Linkedin-->
  <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>

  <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

</div>

</div>
<!--/.Content-->

</div>
</div>
<!--Modal: Name-->

<a><img class="img-fluid z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-3.webp" style="border-radius: 30px;" alt="video"
data-toggle="modal" data-target="#modal4"></a>

</div>
<!-- Grid column -->

</div><br>
<!-- Grid row -->
<a href="/booking" class="joinbtn" style="margin-left: 40%; padding: 10px; font-weight: bold;">Book Your Inductioin Training 
<path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5.5 10a.5.5 0 0 0 .832.374l4.5-4a.5.5 0 0 0 0-.748l-4.5-4A.5.5 0 0 0 5.5 4v8z"/>
</svg></a><br>

<div class="text-center">
  <h1 style="color: black;margin: 5px;padding: 20px; padding-bottom: 2px; font-size: 2.5rem; margin-top: 35px;"><b>Membership Access</b></h1>
  <h4 style="text-align: center; margin-top: -5px; ">Machines will be categorized into different levels and accordingly, training will be provided.</h4>
</div><br>

<div>
<div class="container-fluid">
  <div class="row competencesboxe" style="margin-left: 3rem; margin-right: 3rem;">
      <div class="col-md-4 "><i style="margin: 65px 0px 0px;"></i>
          <h1 class="competencestitles" style="margin-top: 40px;height: 70px; font-weight: bold; font-family: bell; font-size: 1.5rem;"><br>Basic<br><br></h1>
      </div>
      <div class="col-md-4  competencesboxes">
          <h1 class="competencestitles" style="margin: -21px 0px 20px;height: 69px; font-family: bell"><br>Pre-requirement&nbsp;<br><br></h1>
          <p class="competencesparagraph" style="font-size: 1rem; font-family: bell;">
          <ul style="color: black;   font-family: bell; font-size: 1rem;">
            <li>Attend Induction training </li>
            <li>Basic 2D and 3D design skills</li>
            <li>Basic computer skills</li>
            <li>Basic electronics knowledge</li>
          </ul>
          </p>
      </div>
      <div class="col-md-4  competencesboxes">
          <h1 class="competencestitles" style="margin: -21px 0px 20px;height: 69px; font-family: bell;"><br>Digital fabrication services <br><br></h1>
          <p class="competencesparagraph" style="font-size: 1rem; font-family: bell;">
          <ul style="color: black;   font-family: bell; font-size: 1rem;">
            <li>2D and 3D modeling</li>
            <li>Poster making</li>
            <li>Woodwork </li>
            <li>Electronics design</li>
            <li>Molding and casting</li>
          </ul>
          </p>
      </div>
  </div>
</div>
</div><br>

<div >
<div class="container-fluid">
  <div class="row competencesboxe" style="margin-left: 3rem; margin-right: 3rem;">
      <div class="col-md-4 competencesboxes"><i style="margin: 65px 0px 0px;"></i>
          <h1 class="competencestitles" style="margin-top: 40px;height: 70px; font-weight: bold; font-family: bell; font-size: 1.5rem;"><br>Intermediate <br><br></h1>
      </div>
      <div class="col-md-4 competencesboxes" >
          <h1 class="competencestitles" style="margin: -21px 0px 20px;height: 69px; font-family: bell"><br>Pre-requirement&nbsp;<br><br></h1>
          <p class="competencesparagraph" style="font-size: 1rem; font-family: bell;">
          <ul style="color: black;   font-family: bell; font-size: 1rem;">
            <li>Attend Induction Training </li>
            <li>PCB design </li>
            <li>Basic electronics knowledge</li>
            <li>Advance designing training</li>
          </ul>
          </p>
      </div>
      <div class="col-md-4 competencesboxes">
          <h1 class="competencestitles" style="margin: -21px 0px 20px;height: 69px; font-family: bell;"><br>Digital fabrication services <br><br></h1>
          <p class="competencesparagraph" style="font-size: 1rem; font-family: bell;">
          <ul style="color: black;   font-family: bell; font-size: 1rem;">
            <li>Standard 3D prototyping</li>
            <li>PCB design and production</li>
            <li>AR/VR training</li>
          </ul>
          </p>
      </div>
  </div>
</div>
</div><br>

<div>
<div class="container-fluid">
  <div class="row competencesboxe" style="margin-left: 3rem; margin-right: 3rem;">
      <div class="col-md-4 "><i  style="margin: 65px 0px 0px;"></i>
          <h1 class="competencestitles" style="margin-top: 40px;height: 70px; font-weight: bold; font-family: bell; font-size: 1.5rem;"><br>Advanced<br><br></h1>
      </div>
      <div class="col-md-4 competencesboxes">
          <h1 class="competencestitles" style="margin: -21px 0px 20px;height: 69px; font-family: bell"><br>Pre-requirement&nbsp;<br><br></h1>
          <p class="competencesparagraph" style="font-size: 1rem; font-family: bell;"></p>
          <ul style="color: black; font-family: bell; font-size: 1rem;">
            <li>Attend advance induction training for specific machines  and pass a competency  test</li>
            <li>Pass Safe Practice</li>
            <li>Skilled digital designer</li>
          </ul>
      </div>
      <div class="col-md-4 competencesboxes">
          <h1 class="competencestitles" style="margin: -21px 0px 20px;height: 69px; font-family: bell;"><br>Digital fabrication services <br><br></h1>
          <p class="competencesparagraph" style="font-size: 1rem; font-family: bell;">
          <ul style="color: black;    font-family: bell; font-size: 1rem;" >
            <li>Industrial graded prototyping</li>
            <li>Metal fabrication</li>
            <li>Metal molding</li>
            <li>Repair</li>
          </ul>
          </p>
      </div>
  </div>
</div>
</div>

<br><br>


<div class="text-center" style="margin-top: -25px;">
  <h1 style="color: black;margin: 5px;padding: -30px; padding-bottom: 2px; font-size: 2.5rem;"><b>Book Your Machines</b></h1>
</div><br>


<div class="blog-slider" style="border-radius: 40px;">
<div class="blog-slider__wrp swiper-wrapper">
  <div class="blog-slider__item swiper-slide">
      <div></div>
      <div class="blog-slider__img"><img src="assets/img/tro.jpg"></div>
      <div class="blog-slider__content"><span class="blog-slider__code" style="font-family: bell;">Latest Machines</span><div class="blog-slider__title" style="font-family: bell; font-weight: 500;">Laser Cutter: Speedy 400</div><div class="blog-slider__text" style="font-family: bell; color: gray;">Laser Cutter is one of the most versatile machines in  SFL.
        Speedy 400, two laser sources (fiber and CO2 ) allow the use of a wide variety of different materials on the job. 
        .It allows you to mark natural and bright colored aluminum to anthracite or conduct a faster deep engraving</div><a href="booking" class="joinbtn">Book Now</a></div>
  </div>
  <div class="blog-slider__item swiper-slide">
      <div></div>
      <div class="blog-slider__img"><img src="assets/img/zg3.jpg"></div>
      <div class="blog-slider__content"><span class="blog-slider__code" style="font-family: bell;">Latest Machines</span><div class="blog-slider__title" style="font-family: bell; font-weight: 500;">Zund G3 Cutting Machine</div><div class="blog-slider__text" style="font-family: bell; color: gray;">The G3 Cutter is a precision machine. From the innovative drive system to the blade, all components are perfectly coordinated. Zünd's modular design concept lets you put together a tailor-made cutting
         solution configured to meet specific production needs.</div><a href="boooking" class="joinbtn">Book Now</a></div>
  </div>
  <div class="blog-slider__item swiper-slide">
      <div></div>
      <div class="blog-slider__img"><img src="assets/img/3D.jpg"></div>
      <div class="blog-slider__content"><span class="blog-slider__code" style="font-family: bell;">Latest Machines</span><div class="blog-slider__title" style="font-family: bell; font-weight: 500;">3D Printer</div><div class="blog-slider__text" style="font-family: bell; color: gray;" >They are additive manufacturing machines that make three-dimensional objects from a CAD model or a digital 3D model using filaments typically made of ABS or PLA.</div><a href="booking" class="joinbtn">Book Now</a></div>
  </div>
  <div class="blog-slider__pagination"></div>
</div>
</div>

<%- include('partials/footer.ejs')  %>

</body>

</html>