<%- include('partials/header.ejs')  %>
<div class="text-center">
  <h1 style="color: black;margin: 5px;padding: 85px; padding-bottom: 2px; font-size: 2.5rem;">Booking</h1>
  <h4 style="text-align: center; margin-top: -7px; ">"In order to use the machines, all users must undertake an induction training:"</h4>
</div><br>

<h2 style="text-align: center; font-family: bell; font-size: 1.5rem;">Induction Training</h2>
<p style="color: black; margin-right: 6rem; margin-left: 6rem; margin-top: 10px;  text-align: justify; font-family: bell; font-size: 1rem;">SFL has many machines that can be categorized into different levels of complexity, skill requirements and risk. Based on this, for lab users, standard induction training for the use of machines and the lab will be developed.The training program will consist of dos and don’ts of the labs, Standard operating procedures of the lab. For all the machines, separate training sessions and competency exams will have to be taken.\

<!-- Grid row -->
<div class="row" style="margin-left: 3rem; margin-right: 3rem;">

<!-- Grid column -->
<div class="col-lg-4 col-md-12 mb-4">

<!--Modal: Name-->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">

<!--Content-->
<div class="modal-content">

<!--Body-->
<div class="modal-body mb-0 p-0">

  <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U"
      allowfullscreen></iframe>
  </div>

</div>

<!--Footer-->
<div class="modal-footer justify-content-center">
  <span class="mr-4">Spread the word!</span>
  <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
  <!--Twitter-->
  <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
  <!--Google +-->
  <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
  <!--Linkedin-->
  <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>

  <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

</div>

</div>
<!--/.Content-->

</div>
</div>
<!--Modal: Name-->

<a><img class="img-fluid z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-1.webp" style="border-radius: 30px;" alt="video"
data-toggle="modal" data-target="#modal1"></a>

</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-lg-4 col-md-6 mb-4">

<!--Modal: Name-->
<div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">

<!--Content-->
<div class="modal-content">

<!--Body-->
<div class="modal-body mb-0 p-0">

  <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wTcNtgA6gHs"
      allowfullscreen></iframe>
  </div>

</div>

<!--Footer-->
<div class="modal-footer justify-content-center">
  <span class="mr-4">Spread the word!</span>
  <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
  <!--Twitter-->
  <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
  <!--Google +-->
  <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
  <!--Linkedin-->
  <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>

  <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

</div>

</div>
<!--/.Content-->

</div>
</div>
<!--Modal: Name-->

<a><img class="img-fluid z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-2.webp" style="border-radius: 30px;" alt="video"
data-toggle="modal" data-target="#modal6"></a>

</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-lg-4 col-md-6 mb-4">

<!--Modal: Name-->
<div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">

<!--Content-->
<div class="modal-content">

<!--Body-->
<div class="modal-body mb-0 p-0">

  <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vlDzYIIOYmM"
      allowfullscreen></iframe>
  </div>

</div>

<!--Footer-->
<div class="modal-footer justify-content-center">
  <span class="mr-4">Spread the word!</span>
  <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
  <!--Twitter-->
  <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
  <!--Google +-->
  <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
  <!--Linkedin-->
  <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>

  <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

</div>

</div>
<!--/.Content-->

</div>
</div>
<!--Modal: Name-->

<a><img class="img-fluid z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-3.webp" style="border-radius: 30px;" alt="video"
data-toggle="modal" data-target="#modal4"></a>

</div>
<!-- Grid column -->

</div><br>
<!-- Grid row -->
<a href="/booking" class="joinbtn" style="margin-left: 40%; padding: 10px; font-weight: bold;">Book Your Inductioin Training <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-caret-right-square-fill" viewBox="0 0 16 16">
<path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5.5 10a.5.5 0 0 0 .832.374l4.5-4a.5.5 0 0 0 0-.748l-4.5-4A.5.5 0 0 0 5.5 4v8z"/>
</svg></a><br>

<div class="text-center">
  <h1 style="color: black;margin: 5px;padding: 20px; padding-bottom: 2px; font-size: 2.5rem; margin-top: 35px;">Membership Access</h1>
  <h4 style="text-align: center; margin-top: -5px; ">Machines will be categorized into different levels and accordingly, training will be provided.</h4>
</div><br>

<div class="container">
<div class="row">
  <div class="col-md-4" style="padding: 9px; border: 2px solid black; border-color: rgb(0,0,0);margin: 0px;">
      <h1 style="text-align: center;background: #3b70b4;color: #3b70b4;padding: 28px;font-size: 32.52px;">Heading</h1>
  </div>
  <div class="col-md-4" style="padding: 9px; border: 2px solid black;">
      <h2 style="background: #3b70b4;font-family: bell;color: #fff;text-align: center;padding: 27px;">Pre-requirement </h2>
  </div>
  <div class="col-md-4" style="padding: 9px;text-align: center; border: 2px solid black;">
      <h2 style="background: #3b70b4;font-family: bell;color: #fff;padding: 2px;">Digital fabrication services </h2>
  </div>
  <div class="col-md-4" style="padding: 9px; border: 2px solid black;">
      <h2 style="margin: 56px;text-align: center; font-family: bell; font-weight: 0px;">Basic</h2>
  </div>
  <div class="col-md-4" style="padding: 9px; border: 2px solid black;">
      <p style="text-align: center; font-size: 1.1rem;"><br>Attend Induction training<br>Basic 2D and 3D design skills<br>Basic computer skills<br>Basic electronics knowledge</p>
  </div>
  <div class="col-md-4" style="padding: 9px; border: 2px solid black;">
      <p style="text-align: center; font-size: 1.1rem;"><br>2D and 3D modeling<br>Poster making<br>Woodwork<br>Electronics design</p>
  </div>
  <div class="col-md-4" style="padding: 9px; border: 2px solid black;">
      <h2 style="text-align: center;margin: 22px; font-family: bell; margin-top: 50px;">Intermediate</h2>
  </div>
  <div class="col-md-4" style="padding: 9px; border: 2px solid black;">
      <p style="text-align: center; font-size: 1.1rem;"><br>Attend Induction Training<br>PCB design<br>Basic electronics knowledge<br>Advance designing training</p>
  </div>
  <div class="col-md-4" style="padding: 9px; border: 2px solid black;">
      <p style="text-align: center; font-size: 1.1rem;"><br>Standard 3D prototyping<br>PCB design and production<br>AR/VR training</p>
  </div>
  <div class="col-md-4" style="padding: 9px; border: 2px solid black;">
      <h2 style="text-align: center;margin: 50px; font-family: bell; ">Advanced</h2>
  </div>
  <div class="col-md-4" style="padding: 9px; border: 2px solid black;">
      <p style="text-align: center; font-size: 1.1rem;"><br>Attend advance induction training for specific machines and pass a competency test<br>Pass Safe Practice<br>Skilled digital designer</p>
  </div>
  <div class="col-md-4" style="padding: 9px; border: 2px solid black;">
      <p style="text-align: center; font-size: 1.1rem;"><br>Industrial graded prototyping<br>Metal fabrication<br>Metal molding<br>Repair</p>
  </div>
</div>
</div><br><br><br>

<div class="text-center" style="margin-top: -25px;">
  <h1 style="color: black;margin: 5px;padding: -30px; padding-bottom: 2px; font-size: 2.5rem;">Book Your Machines</h1>
</div><br>


<div class="blog-slider" style="border-radius: 40px;">
<div class="blog-slider__wrp swiper-wrapper">
  <div class="blog-slider__item swiper-slide">
      <div></div>
      <div class="blog-slider__img"><img src="assets/img/tro.jpg"></div>
      <div class="blog-slider__content"><span class="blog-slider__code" style="font-family: bell;">Latest Machines</span><div class="blog-slider__title" style="font-family: bell; font-weight: 500;">Laser Cutter</div><div class="blog-slider__text" style="font-family: bell; color: gray;">Learn how to use the machines found in fab labs and super fab labs.</div><a href=".html" class="joinbtn">Book Now</a></div>
  </div>
  <div class="blog-slider__item swiper-slide">
      <div></div>
      <div class="blog-slider__img"><img src="assets/img/zg3.jpg"></div>
      <div class="blog-slider__content"><span class="blog-slider__code" style="font-family: bell;">Latest Machines</span><div class="blog-slider__title" style="font-family: bell; font-weight: 500;">Zund G3</div><div class="blog-slider__text" style="font-family: bell; color: gray;">As the first step to using the machines in the lab, users will be engaged through an induction training</div><a href=".html" class="joinbtn">Book Now</a></div>
  </div>
  <div class="blog-slider__item swiper-slide">
      <div></div>
      <div class="blog-slider__img"><img src="assets/img/3D.jpg"></div>
      <div class="blog-slider__content"><span class="blog-slider__code" style="font-family: bell;">Latest Machines</span><div class="blog-slider__title" style="font-family: bell; font-weight: 500;">3D Printer</div><div class="blog-slider__text" style="font-family: bell; color: gray;" >SFL is currently exploring building its own 3D printer which will be cheaper than the commercial printer. </div><a href=".html" class="joinbtn">Book Now</a></div>
  </div>
  <div class="blog-slider__pagination"></div>
</div>
</div>


    <footer>
        <div class="row">
            <div class="col-sm-6 col-md-4 footer-navigation">
                <img src="assets/img/dhi.png" style="width: 155px; height: 120px;"><br><br>
               <p>Druk Holdings & Investments Limited</p>
                
            </div>
            <div class="col-sm-6 col-md-4 footer-contacts">
                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p><span class="new-line-span">Thimphu, Bhutan</span> Tech Park</p>
                </div>
                <div><i class="fa fa-phone footer-contacts-icon"></i>
                    <p class="footer-center-info email text-start">+975-2-336257/8</p>
                </div>
                <div><i class="fa fa-envelope footer-contacts-icon"></i>
                    <p> <a href="#" target="_blank">DHI, drive@gmail.com</a></p>
                </div>
            </div>
            <div class="col-md-4 footer-about">
                <h4>We'd love to hear from you!</h4>
                <p> NRDCL is owned by Druk Holding and Investments (DHI), which is a 100% Government owned Investment Company.</p><br>
                <a href="research.html" class="joinbtn" style="color: #fff;">Stay Tuned</a>
                <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
            </div>
        </div>
        <hr style="width: 100%; height: 3px; ">
        <div class="row text-center">
            <p class="company-name">© Copyright 2022 DHI InnoTech. All rights reserved</p>
        </div>
    </footer>
    <script>
        
      $('#modal1').on('hidden.bs.modal', function (e) {
     // do something...
         $('#modal1 iframe').attr("src", $("#modal1 iframe").attr("src"));
        });

        $('#modal6').on('hidden.bs.modal', function (e) {
        // do something...
        $('#modal6 iframe').attr("src", $("#modal6 iframe").attr("src"));
        });

            $('#modal4').on('hidden.bs.modal', function (e) {
            // do something...
        $('#modal4 iframe').attr("src", $("#modal4 iframe").attr("src"));
        });
    </script>


    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="assets/js/responsive-blog-card-slider-1.js"></script>
    <script src="assets/js/responsive-blog-card-slider.js"></script>
    <script src="assets/js/Swiper-Slider-Card-For-Blog-Or-Product.js"></script>
</body>

</html>