<%- include('partials/header.ejs')  %>
<div>

    <!--Photo Grid-->
    <div class="rig-header">
       <h1 style="margin: 1rem; margin-top: -80px; padding-bottom: 50px; text-align: center;font-size: 2.5rem;font-family: montserrat, sans-serif; margin-top: 27px; margin-bottom: -55px;">Collection Pictures Of Sfl</h1>
    </div>
    <!--Comment-->
    <div class="rig-row" style="margin-top: 20px;">
        <div class="rig-column"><img src="assets/img/laser.jpg"><img src="assets/img/p2.jpg"><img src="assets/img/tai.jpg"><img src="assets/img/ph.jpg"><img src="assets/img/ta.jpg"><img src="assets/img/img1.jpg"><img src="assets/img/drone.jpg"></div>
        <div class="rig-column"><img src="assets/img/smartm.jpg"><img src="assets/img/p6.jpg"><img src="assets/img/sod.jpg"><img src="assets/img/stsr.jpg"><img src="assets/img/p2.jpg"><img src="assets/img/p6.jpg"><img src="assets/img/p6.jpg"></div>
        <div class="rig-column"><img src="assets/img/b5.jpg"><img src="assets/img/tro.jpg"><img src="assets/img/drone.jpg"><img src="assets/img/ta.jpg"><img src="assets/img/laser.jpg"><img src="assets/img/img1.jpg"><img src="assets/img/p2.jpg"></div>
        <div class="rig-column"><img src="assets/img/b3.jpg"><img src="assets/img/printer1.jpg"><img src="assets/img/sensor.jpg"><img src="assets/img/smartm.jpg"><img src="assets/img/b5.jpg"><img src="assets/img/printer1.jpg"></div>
    </div>
</div>

<%- include('partials/footer.ejs')  %>

</body>

</html>