<%- include('partials/header.ejs')  %>

<div class="container" style="margin: 25px;padding: 126px;">
    <h1 style="text-align: center;height: -27px;padding: -25px;margin: -55px; font-size: 2.8rem;">Heavy Machinary Lab</h1>
</div>
<section style="margin: -30px; margin-left: 2rem; margin-right: 2rem;">
    <div class="container" style="margin-top: -120px;">
        <div class="row">
            <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4" style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;">
                <div class="bg-light border rounded shadow card" data-bss-hover-animate="pulse"><img class="card-img-top" src="assets/img/VZ3ool.jpg">
                    <div class="card-body">
                        <h4 class="card-title" style="font-family:bell;color: black;">VZ300 Linear Motor Drive</h4><p id="lorem">Wire EDM  is a controlled metal-removal process that is used to remove metal by means of electric spark erosion.</p><a href="/book" class="joinbtn">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4" style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;margin-right: 0px;margin-bottom: 0px;">
                <div class="bg-light border rounded shadow card" data-bss-hover-animate="pulse"><img class="card-img-top" src="assets/img/wa.jpg">
                    <div class="card-body">
                        <h4 class="card-title" style="font-family:bell;color: black;"> WaterJet Cutter</h4><p id="lorem">A water jet cutter is an industrial tool capable of cutting a wide variety of materials using an extremely high-pressure jet of water.</p><a href="/book" class="joinbtn">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4" style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;">
                <div class="bg-light border rounded shadow card" data-bss-hover-animate="pulse"><img class="card-img-top" src="assets/img/zundg3.jpg">
                    <div class="card-body">
                        <h4 class="card-title" style="font-family:bell;color: black;">Zund G3</h4><p id="lorem">The G3 Cutter is a precision machine. From the innovative drive system to the blade, all components are perfectly coordinated. </p><a href="/book" class="joinbtn">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4" style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;">
                <div class="bg-light border rounded shadow card" data-bss-hover-animate="pulse"><img class="card-img-top" src="assets/img/CNC.jpg">
                    <div class="card-body">
                        <h4 class="card-title" style="font-family:bell;color: black;">TAI CNC</h4><p id="lorem">It features high-speed rotation, fast, high-precision small hole machining, and fast tool change.</p><a href="/book" class="joinbtn">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4" style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;">
                <div class="bg-light border rounded shadow card" data-bss-hover-animate="pulse"><img class="card-img-top" src="assets/img/latheM.jpg">
                    <div class="card-body">
                        <h4 class="card-title" style="font-family:bell;color: black;">TAI Lathe Machine </h4><p id="lorem">A high-precision CNC lathe, perfect for model construction, training, and small-batch productions. It distinguishes itself by quality.</p><a href="/book" class="joinbtn">Read more</a>
                    </div>
                </div>
            </div>
            <!-- <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4" style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;">
                <div class="bg-light border rounded shadow card" data-bss-hover-animate="pulse"><img class="card-img-top" src="assets/img/laser.jpg">
                    <div class="card-body">
                        <h4 class="card-title" style="font-family:bell;color: black;">Laser Cutter</h4><p id="lorem">It allows you to mark natural and bright colored aluminum to anthracite or conduct a faster deep engraving.</p><a href="book.html" class="joinbtn">Read more</a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>
    <%- include('partials/footer.ejs')  %>
</body>

</html>