<%- include('partials/header.ejs')  %>
<div class="container" style="margin: 25px;padding: 126px;">
    <h1 style="text-align: center;height: -27px;padding: -20px;margin: -55px; font-family: 'montserrat', sans-serif; font-size: 2.8rem;">Carpentry Lab</h1>
</div>
<section style="margin: -30px; margin-left: 2rem; margin-right: 2rem;">
    <div class="container" style="margin-top: -120px;">
        <div class="row">
            <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4" style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;">
                <div class="bg-light border rounded shadow card" data-bss-hover-animate="pulse"><img class="card-img-top" src="assets/img/shopbot.jpg">
                    <div class="card-body">
                        <h4 class="card-title" style="font-family: bell;color: black;">ShopBot</h4><p id="lorem">Uses advanced technology of CNC cutting, drilling, carving and machining. It has full production performance in the digital fabrication of wood, plastic and aluminia</p><a href="/book" class="joinbtn">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4" style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;margin-right: 0px;margin-bottom: 0px;">
                <div class="bg-light border rounded shadow card" data-bss-hover-animate="pulse"><img class="card-img-top" src="assets/img/mini.jpg">
                    <div class="card-body">
                        <h4 class="card-title" style="font-family: bell;color: black;">Mini Mill</h4><p id="lorem">Biological sensors can be used to take air quality readings and check for the presence of specific micro-organisms or organic compounds.</p><a href="/book" class="joinbtn">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4" style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;">
                <div class="bg-light border rounded shadow card" data-bss-hover-animate="pulse"><img class="card-img-top" src="assets/img/sa.jpg">
                    <div class="card-body">
                        <h4 class="card-title" style="font-family: bell;color: black;">Vinyl Cutter</h4><p id="lorem">Businesses use laser printers almost exclusively because they have the reputation of being reliable while making a quality print product.</p><a href="/book" class="joinbtn">Read more</a>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>
<%- include('partials/footer.ejs')  %>
</body>

</html>