<%- include('partials/header.ejs')  %>
    <div class="container" style="margin: 129px;">
        <h1 style="text-align: center;margin: -44px;font-size: 28.520000000000003px;padding: 25px;height: -12px;width: 951px;">MEMBERSHIP PLAN</h1>
    </div>
    <div class="container" style="padding: -37px;width: 835px;height: 85px;"><div>
<marquee behavior="alternate" bgcolor="#e20b0b" direction="right" style="color: #ffffff; font-size: 20px; font-weight: bolder; line-height: 150%; text-shadow: #000000 0px 1px 1px;"onmousedown="this.stop()" onmouseup="this.start()">JOIN SFL TODAY!!!</marquee>
</div></div>
    <section style="text-align: left;width: 1504.33px;padding: -50px;">
        <div class="container" style="width: 817px;height: 115px;">
            <div class="row">
                <div class="col-md-6" style="width: 163px;box-shadow: 0px 0px 20px 2px rgb(184,187,191);">
                    <p style="color: #191e20;font-size: 20px;">SFL Student</p>
                    <p style="color: #191e20;">Catalyze STEM Education</p>
                </div>
                <div class="col-md-6" style="box-shadow: 0px 0px 20px rgb(203,208,213);width: 405px;height: 109px;transform: perspective(480px) translate(43px);">
                    <p style="color: #191e20;height: 5px;">&nbsp;<i class="fa fa-check"></i>&nbsp;SAN AKSB ASKND NKASND KASND&nbsp;</p>
                    <p style="color: #191e20;height: 5px;">&nbsp;<i class="fa fa-check"></i>&nbsp;SAN AKSB ASKND NKASND KASND&nbsp;</p>
                    <p style="color: #191e20;height: 5px;">&nbsp;<i class="fa fa-check"></i>&nbsp;SAN AKSB ASKND NKASND KASND&nbsp;</p>
                    <p style="color: #191e20;height: 5px;">&nbsp;<i class="fa fa-check"></i>&nbsp;SAN AKSB ASKND NKASND KASND&nbsp;</p>
                    <p style="color: #191e20;height: 5px;">&nbsp;<i class="fa fa-check"></i>&nbsp;SAN AKSB ASKND NKASND KASND&nbsp;</p>
                </div>
            </div>
        </div>
        <div class="container" style="width: 817px;height: 115px;">
            <div class="row">
                <div class="col-md-6" style="width: 163px;box-shadow: 0px 0px 20px 2px rgb(184,187,191);">
                    <p style="color: #191e20;font-size: 20px;">SFL Student</p>
                    <p style="color: #191e20;">Catalyze STEM Education</p>
                </div>
                <div class="col-md-6" style="box-shadow: 0px 0px 20px rgb(203,208,213);width: 405px;height: 109px;transform: perspective(480px) translate(43px);">
                    <p style="color: #191e20;height: 5px;">&nbsp;<i class="fa fa-check"></i>&nbsp;SAN AKSB ASKND NKASND KASND&nbsp;</p>
                    <p style="color: #191e20;height: 5px;">&nbsp;<i class="fa fa-check"></i>&nbsp;SAN AKSB ASKND NKASND KASND&nbsp;</p>
                    <p style="color: #191e20;height: 5px;">&nbsp;<i class="fa fa-check"></i>&nbsp;SAN AKSB ASKND NKASND KASND&nbsp;</p>
                    <p style="color: #191e20;height: 5px;">&nbsp;<i class="fa fa-check"></i>&nbsp;SAN AKSB ASKND NKASND KASND&nbsp;</p>
                    <p style="color: #191e20;height: 5px;">&nbsp;<i class="fa fa-check"></i>&nbsp;SAN AKSB ASKND NKASND KASND&nbsp;</p>
                </div>
            </div>
        </div>
        <div class="container" style="width: 817px;height: 115px;">
            <div class="row">
                <div class="col-md-6" style="width: 163px;box-shadow: 0px 0px 20px 2px rgb(184,187,191);">
                    <p style="color: #191e20;font-size: 20px;">SFL Student</p>
                    <p style="color: #191e20;">Catalyze STEM Education</p>
                </div>
                <div class="col-md-6" style="box-shadow: 0px 0px 20px rgb(203,208,213);width: 405px;height: 109px;transform: perspective(480px) translate(43px);">
                    <p style="color: #191e20;height: 5px;">&nbsp;<i class="fa fa-check"></i>&nbsp;SAN AKSB ASKND NKASND KASND&nbsp;</p>
                    <p style="color: #191e20;height: 5px;">&nbsp;<i class="fa fa-check"></i>&nbsp;SAN AKSB ASKND NKASND KASND&nbsp;</p>
                    <p style="color: #191e20;height: 5px;">&nbsp;<i class="fa fa-check"></i>&nbsp;SAN AKSB ASKND NKASND KASND&nbsp;</p>
                    <p style="color: #191e20;height: 5px;">&nbsp;<i class="fa fa-check"></i>&nbsp;SAN AKSB ASKND NKASND KASND&nbsp;</p>
                    <p style="color: #191e20;height: 5px;">&nbsp;<i class="fa fa-check"></i>&nbsp;SAN AKSB ASKND NKASND KASND&nbsp;</p>
                </div>
            </div>
        </div>
        <div class="container" style="width: 817px;height: 115px;">
            <div class="row">
                <div class="col-md-6" style="width: 163px;box-shadow: 0px 0px 20px 2px rgb(184,187,191);">
                    <p style="color: #191e20;font-size: 20px;">SFL Student</p>
                    <p style="color: #191e20;">Catalyze STEM Education</p>
                </div>
                <div class="col-md-6" style="box-shadow: 0px 0px 20px rgb(203,208,213);width: 405px;height: 109px;transform: perspective(480px) translate(43px);">
                    <p style="color: #191e20;height: 5px;">&nbsp;<i class="fa fa-check"></i>&nbsp;SAN AKSB ASKND NKASND KASND&nbsp;</p>
                    <p style="color: #191e20;height: 5px;">&nbsp;<i class="fa fa-check"></i>&nbsp;SAN AKSB ASKND NKASND KASND&nbsp;</p>
                    <p style="color: #191e20;height: 5px;">&nbsp;<i class="fa fa-check"></i>&nbsp;SAN AKSB ASKND NKASND KASND&nbsp;</p>
                    <p style="color: #191e20;height: 5px;">&nbsp;<i class="fa fa-check"></i>&nbsp;SAN AKSB ASKND NKASND KASND&nbsp;</p>
                    <p style="color: #191e20;height: 5px;">&nbsp;<i class="fa fa-check"></i>&nbsp;SAN AKSB ASKND NKASND KASND&nbsp;</p>
                </div>
            </div>
        </div>
    </section>
    <div class="container" style="text-align: center;margin: 32px;transform: translate(53px);">
        <div class="card">
            <div class="card-body" style="height: 282.656px;margin: 5px;">
                <h4 class="card-title" style="height: 38.3333px;font-size: 26.11px;">Amenities Avaliable for members</h4>
                <p class="card-text" style="font-size: 18px;color: #2f3032;"><i class="fas fa-check"></i>&nbsp;Nullam id dolor id nibh ultricies vehicula ut id elit.&nbsp;</p>
                <p class="card-text" style="font-size: 18px;color: #2f3032;"><i class="fas fa-check"></i>&nbsp;Nullam id dolor id nibh ultricies vehicula ut id elit.&nbsp;</p>
                <p class="card-text" style="font-size: 18px;color: #2f3032;"><i class="fas fa-check"></i>&nbsp;Nullam id dolor id nibh ultricies vehicula ut id elit.&nbsp;</p>
                <p class="card-text" style="font-size: 18px;color: #2f3032;"><i class="fas fa-check"></i>&nbsp;Nullam id dolor id nibh ultricies vehicula ut id elit.&nbsp;</p>
            </div>
        </div>
    </div>
    <h1 style="margin: 30px;padding: 2px;font-size: 29.549999999999997px;text-align: center;">Signup as our volunteer Here!!!&nbsp; &nbsp; &nbsp; &nbsp;<button class="btn btn-primary pulse animated infinite" type="button" style="font-size: 14px;">Apply</button></h1>
    <footer>
        <div class="row">
            <div class="col-sm-6 col-md-4 footer-navigation">
                <h3><a href="#">Company<span>logo </span></a></h3>
                <p class="links"><a href="#">Home</a><strong> · </strong><a href="#">Blog</a><strong> · </strong><a href="#">Pricing</a><strong> · </strong><a href="#">About</a><strong> · </strong><a href="#">Faq</a><strong> · </strong><a href="#">Contact</a></p>
                <p class="company-name">Company Name © 2015 </p>
            </div>
            <div class="col-sm-6 col-md-4 footer-contacts">
                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p><span class="new-line-span">21 Revolution Street</span> Paris, France</p>
                </div>
                <div><i class="fa fa-phone footer-contacts-icon"></i>
                    <p class="footer-center-info email text-start"> +1 555 123456</p>
                </div>
                <div><i class="fa fa-envelope footer-contacts-icon"></i>
                    <p> <a href="#" target="_blank">support@company.com</a></p>
                </div>
            </div>
            <div class="col-md-4 footer-about">
                <h4>About the company</h4>
                <p> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet. </p>
                <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
            </div>
        </div>
    {{> footer}}
</body>

</html>