<%- include('partials/header.ejs')  %>
    <div class="container" style="margin: 25px;padding: 126px;height: 210px;">
        <h1  data-bss-hover-animate="pulse" style="text-align: center;height: -27px;padding: -25px;margin: -26px;">METAL WORK LAB</h1>
    </div>
    <section style="margin: -30px;">
        <div class="container" style="margin-top: -100px;">
            <div class="row">
                <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4" style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;">
                    <div class="bg-light border rounded shadow card" data-bss-hover-animate="pulse"><img class="card-img-top" src="assets/img/laser.jpg">
                        <div class="card-body">
                            <h3 class="card-title" style="font-family: Antic, sans-serif;color: black;">3D PRINTER</h3><p id="lorem">The 3D printing landscape is a wild, and vast landscape containing a myriad of printers, materials, software and crowdfunding projects.</p><a href="readmore.html" class="joinbtn">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4" style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;margin-right: 0px;margin-bottom: 0px;">
                    <div class="bg-light border rounded shadow card" data-bss-hover-animate="pulse"><img class="card-img-top" src="assets/img/drone.jpg">
                        <div class="card-body">
                            <h3 class="card-title" style="font-family: Antic, sans-serif;color: black;">CNC MILLING</h3><p id="lorem">Biological sensors can be used to take air quality readings and check for the presence of specific micro-organisms or organic compounds.</p><a href="readmore.html" class="joinbtn">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4" style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;">
                    <div class="bg-light border rounded shadow card" data-bss-hover-animate="pulse"><img class="card-img-top" src="assets/img/img1.jpg">
                        <div class="card-body">
                            <h3 class="card-title" style="font-family: Antic, sans-serif;color: black;">DRIVE WATER CUT</h3><p id="lorem">Businesses use laser printers almost exclusively because they have the reputation of being reliable while making a quality print product.</p><a href="readmore.html" class="joinbtn">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4" style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;">
                    <div class="bg-light border rounded shadow card" data-bss-hover-animate="pulse"><img class="card-img-top" src="assets/img/img1.jpg">
                        <div class="card-body">
                            <h3 class="card-title" style="font-family: Antic, sans-serif;color: black;">MACHINE CUTTER</h3><p id="lorem">Businesses use laser printers almost exclusively because they have the reputation of being reliable while making a quality print product.</p><a href="readmore.html" class="joinbtn">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4" style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;">
                    <div class="bg-light border rounded shadow card" data-bss-hover-animate="pulse"><img class="card-img-top" src="assets/img/drone.jpg">
                        <div class="card-body">
                            <h3 class="card-title" style="font-family: Antic, sans-serif;color: black;">WATERJET CUTTER</h3><p id="lorem">Businesses use laser printers almost exclusively because they have the reputation of being reliable while making a quality print product.</p><a href="readmore.html" class="joinbtn">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4" style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;">
                    <div class="bg-light border rounded shadow card" data-bss-hover-animate="pulse"><img class="card-img-top" src="assets/img/laser.jpg">
                        <div class="card-body">
                            <h3 class="card-title" style="font-family: Antic, sans-serif;color: black;">WIRE EDM</h3><p id="lorem">Businesses use laser printers almost exclusively because they have the reputation of being reliable while making a quality print product.</p><a href="readmore.html" class="joinbtn">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="row">
            <div class="col-sm-6 col-md-4 footer-navigation">
                <img src="assets/img/fablab.png" style="width: 80px; height: 70px;"><br><br>
                <!-- <h3><a href="#">Company<span>logo </span></a></h3> -->
                <p class="links"><a href="#">Home</a><strong> · </strong><a href="#">Machine</a><strong> </strong><a href="#"></a><strong> · </strong><a href="#">About</a><strong> · </strong><a href="#"></a><strong></strong><a href="#">Contact</a></p>
                <p class="company-name">Tech park © 2017 </p>
            </div>
            <div class="col-sm-6 col-md-4 footer-contacts">
                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p><span class="new-line-span">Thimphu, Bhutan</span> Tech Park</p>
                </div>
                <div><i class="fa fa-phone footer-contacts-icon"></i>
                    <p class="footer-center-info email text-start"> +975 245 265 86</p>
                </div>
                <div><i class="fa fa-envelope footer-contacts-icon"></i>
                    <p> <a href="#" target="_blank">DHI, drive@.com</a></p>
                </div>
            </div>
            <div class="col-md-4 footer-about">
                <h4>About the company</h4>
                <p> NRDCL is owned by Druk Holding and Investments (DHI), which is a 100% Government owned Investment Company and is governed by the Articles of Incorporation under the revised Companies Act of the Kingdom of Bhutan 2000. </p>
                <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
            </div>
        </div>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="assets/js/Fixed-navbar-starting-with-transparency.js"></script>
    <script src="assets/js/Swiper-Slider-Card-For-Blog-Or-Product.js"></script>
    <script src="assets/js/Testimonial-Slider-9.js"></script>
    <script src="assets/js/WOWSlider-about-us.js"></script>
</body>

</html>