<%- include('partials/header.ejs')  %>
<div class="container" style="padding-top: 2rem;">
    <h1 style="text-align: center;  padding: 4px; font-size: 2.5rem; margin-top: -20px; padding-bottom: 30px;">News And Events</h1>
</div>
        
 <!--CARDS START--> 
  
<div class="col-10" style=" padding-left: 2rem;">
    <div class="row clearmargin clearpadding row-image-txt" data-aos="slide-left" data-aos-duration="1100"  style=" background: #fff;  width: 118%; border-radius: 4px;">
        <div class="col-xs-12 col-sm-6 col-md-6 clearmargin clearpadding col-sm-push-6" style="background-image:url(assets/img/laser.jpg); background-size:cover; height:350px; background-position:center; margin: 0px; border-radius: 4px;"> 
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-sm-pull-6" style="padding:40px;/*border-right:orange 3px solid; border-top:orange 3px solid;*/text-align: center;">
            <h4 style="font-family: bell;">InnoTech Participates to Deliver Girl STEM Camp 2021</h4>
            <hr>
            <p>Members from the InnoTech team at DHI participated at the Girl STEM Camp organized by the Ministry of Eduction (MoE) in collaboration with Department of Information Technology & Telecom (DITT) and We-POWER of Druk Green Power Corporation (DGPC). Built around the theme Nothing in The World a Girl Can’t Do, the camp saw participation of 50 girls from 20 Dzongkhags. The program were spread across three days in Paro, where the facilitators aimed to inspire girls to embrace subjects of science and enhance their participation in STEM courses and careers. </p><br>
            <div style="text-align:center"></div>
        </div>        
</div><br><br><br>


    <div class="row clearmargin clearpadding row-image-txt" data-aos="slide-right" data-aos-duration="1100"  style="background: #fff; ; width: 118%; border-radius: 4px;">
        <div class="col-xs-12 col-sm-6 col-md-6 col-sm-pull-6" style="padding:40px; text-align: center;">
            <h4 style="font-family: bell;">dhiTECHHACk 2021: The Group Innovation Challenge<br></h4>
            <hr>
            <p>Following the success of the DHI TechHack challenge last year, DHI InnoTech is back with the Group Innovation Challenge geared towards the DHI Ecosystem. This year, InnoTech is engaging the employees within DHI and its Group of Companies to collaborate, develop, and solve the various issues faced in their organizations. The TechHack will be held on Friday, October 22 at the Le Meridien, Thimphu. The challenge will act as the first step towards building the DHI Corporate Innovation Platform, conceived with the aim of building capacities for innovation at the company level, and for the larger DHI ecosystem.</p><br>
            <div style="text-align:center"></div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 clearmargin clearpadding col-sm-push-6" style="background-image:url(assets/img/ta.jpg);  background-size:cover;height:350px;background-position:center; border-radius: 4px;"> 
        </div>
             
</div><br><br><br>


    <div class="row clearmargin clearpadding row-image-txt" data-aos="slide-left" data-aos-duration="1100"  style="background: #fff; width: 118%; border-radius: 4px;">
        <div class="col-xs-12 col-sm-6 col-md-6 clearmargin clearpadding col-sm-push-6" style="background-image:url(assets/img/smartm.jpg);  background-size:cover;height:350px;background-position:center; border-radius: 4px;">
         
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-sm-pull-6" style="padding:40px; /*border-right:orange 3px solid; border-top:orange 3px solid;*/ text-align: center;">
            <h4 style="font-family: bell;">Innotech Hosts Innovation & Technology Conference<br></h4>
            <hr>
            <p>DHI InnoTech hosted its first Innovation & Technology Conference on October 12, 2021. The conference was centered around the theme of Leadership and brought together the Chief Executive Officers and Innovation Task Force Members from the DHI Group of Companies. The various sessions emphasized the role of leaders in driving and strategizing technology and innovation pathways. The conference also highlighted InnoTech-led innovation initiatives and called upon the leaders to collaborate for a vibrant innovation ecosystem.</p><br>
            <div style="text-align:center"></div>
        </div>    
</div><br><br><br>


    <div class="row clearmargin clearpadding row-image-txt" data-aos="slide-right" data-aos-duration="1200"  style="background: #fff; width: 118%; border-radius: 4px;">
        <div class="col-xs-12 col-sm-6 col-md-6 col-sm-pull-6" style="padding:40px; /*border-left:orange 3px solid; border-bottom:orange 3px solid; border-top: 3px solid orange;*/ text-align: center;">
            <h4 style="font-family: bell;">DITT in Collaboration with DHI Launches On-the-Job Training for Fresh Graduates<br></h4>
            <hr>
            <p>The first batch of graduates from the Gyalpozhing College of Information Technology (GCIT) will be training at various departments under Department of Information Technology & Telecom (DITT) and Druk Holding and Investments (DHI). The on-the-job training program is set to commence on September 1st, 2021. The training will kick off with a month-long orientation program to ensure a smooth transition into the corporate environment for the students. The orientation program will include presentations and short trainings conducted by the staffs working at various organizations in Bhutan, as well as experts from outside the country.</p><br>
            <div style="text-align:center"></div>
        </div>
        
        <div class="col-xs-12 col-sm-6 col-md-6 clearmargin clearpadding col-sm-push-6" style="background-image:url(assets/img/b5.jpg);  background-size:cover;height:350px;background-position:center; border-radius: 4px;">
             
        </div>
        
     </div>
</div>
</div>
<%- include('partials/footer.ejs') %>
</body>

</html>