<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>SFL</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/--mp---Testimonials-Slider.css">
    <link rel="stylesheet" href="assets/css/animated-services.css">
    <link rel="stylesheet" href="assets/css/Animated-Testimomial-1.css">
    <link rel="stylesheet" href="assets/css/Animated-Testimomial.css">
    <link rel="stylesheet" href="assets/css/Animation-Cards-1.css">
    <link rel="stylesheet" href="assets/css/Animation-Cards.css">
    <link rel="stylesheet" href="assets/css/Bold-BS4-Cards-with-Hover-Effect-142-1.css">
    <link rel="stylesheet" href="assets/css/Bold-BS4-Cards-with-Hover-Effect-142.css">
    <link rel="stylesheet" href="assets/css/Bold-BS4-Cards-with-Hover-Effect-74-1.css">
    <link rel="stylesheet" href="assets/css/Bold-BS4-Cards-with-Hover-Effect-74.css">
    <link rel="stylesheet" href="assets/css/Bootstrap-4---Full-Video-Background-v2.css">
    <link rel="stylesheet" href="assets/css/card-3-column-animation-shadows-images.css">
    <link rel="stylesheet" href="assets/css/Card-hover-affect-2.css">
    <link rel="stylesheet" href="assets/css/dh-card-image-left-dark.css">
    <link rel="stylesheet" href="assets/css/dh-header-cover-image-button.css">
    <link rel="stylesheet" href="assets/css/dh-row-text-image-right-responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Pretty-Footer.css">
    <link rel="stylesheet" href="assets/css/Projects-Horizontal.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/Swiper-Slider-Card-For-Blog-Or-Product-1.css">
    <link rel="stylesheet" href="assets/css/Swiper-Slider-Card-For-Blog-Or-Product.css">
    <link rel="stylesheet" href="assets/css/Team-with-rotating-cards.css">
    <link rel="stylesheet" href="assets/css/Team.css">
    <link rel="stylesheet" href="assets/css/Testimonial-Slider-9-1.css">
    <link rel="stylesheet" href="assets/css/Testimonial-Slider-9.css">
    <link rel="stylesheet" href="assets/css/Ultimate-Testimonial-Slider.css">
    <link rel="stylesheet" href="assets/css/Vdeo.css">
    <link rel="stylesheet" href="assets/css/WOWSlider-about-us-1.css">
    <link rel="stylesheet" href="assets/css/WOWSlider-about-us-2.css">
    <link rel="stylesheet" href="assets/css/WOWSlider-about-us.css">
    <link rel="stylesheet" href="assets/css/Effective-Pricing-Cards.css">
    <link rel="stylesheet" href="assets/css/featured-products-slider-1.css">
    <link rel="stylesheet" href="assets/css/featured-products-slider.css">
    <link rel="stylesheet" href="assets/css/Features-Boxed.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
   <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
   <link rel="stylesheet" href="assets/css/Team-Grid.css">
   <link rel="stylesheet" href="assets/css/Pretty-Footer.css">
   <link rel="stylesheet" href="assets/css/Responsive-YouTube-Video-Section-Dark-Centered.css">
   <link rel="stylesheet" href="assets/css/Vdeo.css">
   <link rel="stylesheet" href="assets/css/Responsive-Image-Grid-Sunday.css">
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
   <style>
     .popup-box{
	display: none;
	position: fixed;
	text-align: center;
	width: 100%;
	height: 100%;
	z-index: 10;
	top: 0;
	left: 0;
}

.popup-inner{
	max-width: 500px;
	min-height: 250px;
	background: white;
  border-radius: 25px;
	padding: 15px;
	margin: auto;
	top: 25%;
	position: relative;
}



.popup-msg{
	font-weight: bold;
	color: black;
	padding: 20px 20px 0 20px;
}

.next-step-btn{
	margin:20px auto 0;
  background: linear-gradient(rgb(235, 139, 31), rgb(223, 148, 35));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#015eab', endColorstr='#10276b');
	border: none !important;
	padding: 10px 40px !important;
	color: #fff !important;
	font-weight: bold;
	border-radius: 34px;
	cursor: pointer;
}

.transparent-layer{
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: 0.3;
overflow: hidden;


}
a{
text-decoration: none;
}
.popUpShow {
transform: scale(1,1);
}
.btnClose {
color: rgb(201, 117, 39);
float: right;
 font-size: 30px;
  padding: 7px;
}

.btnClose:hover {
  color: #FFDD00;
  
  
}

   </style>
<body>  

    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button fixed-top navbar-transparency" style=" font-family: bell; font-size: 18px;">
        <div class="container"><img id="logo" src="assets/img/logo.png" height="70px" style="padding-right: 4rem;"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>

                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="machine">Machine</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="machine">Carpentry lab</a><a class="dropdown-item" href="electronic">Electronic lab</a><a class="dropdown-item" href="heaveymachine">Heavy machinary lab</a><a class="dropdown-item" href="metal">Metal work lab</a><a class="dropdown-item" href="booking">Booking</a></div>
                    </li>

                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="program">Program </a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="program">Education program</a><a class="dropdown-item" href="trainingprogram">Training program</a><a class="dropdown-item" href="research">Research and Development</a></div>
                    </li>

                    <li class="nav-item"><a class="nav-link" href="service">Services</a>

                    <li class="nav-item"><a class="nav-link" href="newsandevents">News And Events</a>

                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="about">About us</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="about">The story of sfl</a><a class="dropdown-item" href="about">Meet the team</a><a class="dropdown-item" href="about">Virtual tour</a><a class="dropdown-item" href="gallery">Gallery</a></div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="profile">Profile</a>


                </ul>
            </div>
                                    
                        

        </div>
    </nav>
<br><br><br>

  <div class="container">
    <!-- show a dialog if user is not verified  -->

    <% if(!verified){ %>
      <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
        <strong>ATTENTION !</strong> Please verify your account to continue using our services.
        <a href="/user/send-verification-email">Re-send Verification Email</a>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

      </div>
      <% } %>

        <% if(typeof emailsent !='undefined' ){ %>
          <% if(emailsent){ %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>SUCCESS</strong> Verification Email Sent Sucessfully. Valid Only for 20 minutes.
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

            </div>

            <% } %>
              <% } %>
                <% if(typeof err !='undefined' ){ %>
                  <% if(err){ %>
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                      <strong>ERROR </strong>
                      <%= err %>.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

                    </div>

                    <% } %>
                      <% } %>

                        <h1 class="text-center p-3">Your Profile</h1>
                    <br><br>
                        <div class="text-center" style="width: 28rem;">
                          <img
                            src="https://images.pexels.com/photos/917494/pexels-photo-917494.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                            class="card-img-top" alt="...">
                          <div class="card-body">
                            <h3 class="card-title">
                             Name :  <%= username %>
                             
                              
                            </h3>

                          </div>
                        </div>

  </div>
  <div class="popup-box" id="hid" style="display: block; visibility: hidden">
    <div class="transparent-layer"></div>
    <div class="popup-inner" >
      <div class="btnClose"><a href="/profile"><i class="fa fa-window-close" aria-hidden="true"></i></a>
      </div>

      <div class="popup-msg"> <p>Thank you for becoming our member.To complete our registration process please enroll for the induction program</p></div>
      
      <button class="next-step-btn" ><a href="/booking">Enroll for Induction Training</a></button></div>

  </div>
 

    <script>
      function showIt() {
  document.getElementById("hid").style.visibility = "visible";
}
setTimeout("showIt()", 3000); // after 3 seconds

    </script>
</body>

</html>