<%- include('partials/header.ejs')  %>
    <div class="container" style="margin: 59px;">
        <h1 style="text-align: center;margin: 123px;">FAB RESEARCH AND DEVELOPMENT</h1>
    </div>
    <section style="margin: -98px;">
        <div class="container">
            <header class="header">
                <div class="header-container" style="background-image: url(assets//img/see.jpg);padding-top: 100px;padding-bottom: 175px;box-shadow: 0px 1px 5px 1px rgb(136,134,134);">
                    <div class="container">
                        <div class="col-md-6 offset-md-3 header-title">
                            <h1 class="text-center" style="color:#ffffff;">Project Fab</h1>
                            <p style="border: 1px solid grey; background-color: grey;">Digital Fabrication Laboratory, is a place where anyone can make anything, using digital design, 3D printers, laser cutting and other advanced technological means. This enables emerging entrepre to prototype their ideas using digital fabrication tools.</p><a href="#about" class="joinbtn" style="color: #fff; margin-left: 203px;">Explore Now</a>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </section>
    <h1 style="margin: 130px;text-align: center;">WORKSHOP ORIENTATION</h1>
    <section style="margin: -115px;">
        <div class="container">
            <div class="row">
                <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4" style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;">
                    <div class="bg-light border rounded shadow card" data-bss-hover-animate="pulse"><img class="card-img-top" src="assets/img/smart machine.jpg">
                        <div class="card-body">
                            <h3 class="card-title" style="font-family: Antic, sans-serif;color: black;">FAB ACADEMY</h3><p id="lorem">At the Fab Academy, you will learn how to envision, prototype and document your ideas through many hours of hands-on experience with digital fabrication tools.</p><a href="readmore.html" class="joinbtn" style="color: black;">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4" style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;margin-right: 0px;margin-bottom: 0px;">
                    <div class="bg-light border rounded shadow card" data-bss-hover-animate="pulse"><img class="card-img-top" src="assets/img/sensor.jpg">
                        <div class="card-body">
                            <h3 class="card-title" style="font-family: Antic, sans-serif;color: black;">FAB ACADEMY</h3><p id="lorem">At the Fab Academy, you will learn how to envision, prototype and document your ideas through many hours of hands-on experience with digital fabrication tools.</p><a href="readmore.html" class="joinbtn" style="color: black;">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4" style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;">
                    <div class="bg-light border rounded shadow card" data-bss-hover-animate="pulse"><img class="card-img-top" src="assets/img/b3.jpg">
                        <div class="card-body">
                            <h3 class="card-title" style="font-family: Antic, sans-serif;color: black;">FAB ACADEMY</h3><p id="lorem">At the Fab Academy, you will learn how to envision, prototype and document your ideas through many hours of hands-on experience with digital fabrication tools.</p><a href="readmore.html" class="joinbtn" style="color: black;">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="padding: 11px;">
            <h1 class="text-center" style="margin: 32px;padding: -2px;">RAPID PROTOTYPING FOR MANUFACTURING</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="box"><img src="assets/img/zg3.jpg">
                        <div class="box-content" >
                            <h1 class="title">Smart machine</h1>
                            <p class="description">Biological sensors can be used to take air quality readings and check for the presence of specific micro.</p><a href="readmore.html" class="joinbtn" style="color: #fff;">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="box"><img src="assets/img/zg3.jpg">
                        <div class="box-content">
                            <h1 class="title">Sensors</h1>
                            <p class="description">Biological sensors can be used to take air quality readings and check for the presence of specific micro.</p><a href="readmore.html" class="joinbtn" style="color: #fff;">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="box"><img src="assets/img/zg3.jpg">
                        <div class="box-content">
                            <h1 class="title">Lasers</h1>
                            <p class="description">Biological sensors can be used to take air quality readings and check for the presence of specific micro.</p><a href="readmore.html" class="joinbtn" style="color: #fff;">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <section class="projects-horizontal">
                <div class="container">
                    <div class="intro">
                        <h2 class="text-center" style="margin: -46px;padding: 77px 0px 0px;">OTHER TRANINGS</h2><br>
                    </div>
                    <div class="row projects">
                        <div class="col-sm-6 item">
                            <div class="row">
                                <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="assets/img/tai.jpg" style="box-shadow: 1px 1px 6px 1px rgb(136,134,134);"></a></div>
                                <div class="col">
                                    <h3 class="name">CNC CUTTER</h3>
                                    <p class="description">It is the preferred method when the materials being cut are sensitive to the high temperatures.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 item">
                            <div class="row">
                                <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="assets/img/tro.jpg" style="box-shadow: 1px 1px 6px 1px rgb(136,134,134);"></a></div>
                                <div class="col">
                                    <h3 class="name">3D PRINTING</h3>
                                    <p class="description">It is the preferred method when the materials being cut are sensitive to the high temperatures.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 item">
                            <div class="row">
                                <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="assets/img/tro.jpg" style="box-shadow: 1px 1px 6px 1px rgb(136,134,134);"></a></div>
                                <div class="col">
                                    <h3 class="name">WATERJET</h3>
                                    <p class="description">It is the preferred method when the materials being cut are sensitive to the high temperatures.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 item">
                            <div class="row">
                                <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="assets/img/tai.jpg" style="box-shadow: 1px 1px 6px 1px rgb(136,134,134);"></a></div>
                                <div class="col">
                                    <h3 class="name">LASER PRINTING</h3>
                                    <p class="description">It is the preferred method when the materials being cut are sensitive to the high temperatures.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section><br><br>
   {{> footer}}
</body>

</html>