<%- include('partials/header.ejs')  %>
    <div class="card" style="height: 1016.333px;margin: 128px;box-shadow: 2px 2px 20px rgb(126,134,142);">
        <div class="card-body" style="margin: 29px;height: 1036.74px;">
            <h1 style="margin: 15px;padding: 0px;height: 49px;">LASER PRINTER</h1>
            <div class="container"><img src="assets/img/tro.jpg" style="width: 670px;height: 350.427px;box-shadow: 0px 0px 8px 1px rgb(137,139,142); border-radius: 3px;"></div>
            <p class="card-text" style="height: 618.333px;padding: 15px; color: black; font-size: 18px; font-family: serif;">Another technology used in 3D printing is stereolithography. In it, a UV laser is shined into a vat of ultraviolet-sensitive photopolymer, tracing the object to be created on its surface.<br>The polymer solidifies wherever the beam touches it, and the beam "prints" the object layer by layer per the instructions in the CAD or CAM file it's working from.<br>Multi-jet modeling is an inkjet-like 3D printing system that sprays a colored, glue-like binder onto successive layers of powder where the object is to be formed.<br>The first 3D printer, which used the stereolithography technique, was created by Charles W. Hull in the mid-1980s. Stereolithography has traditionally been an expensive commercial technique, with machines costing in the five and even six figures, but recent years have seen the advent of desktop professional stereolithography printers costing a few thousand dollars, as well as consumer systems that start well under a grand. Yes, 3D printing can be considered printing, although not as it's traditionally been defined.<br>The relevant Webster's definitions of "printing" center on the production of printed matter, publications, or photographs, and producing by means of impression (the application of pressure). Neither definition really fits 3D printing in which a layer of material (usually ink) is applied. Usually it's so thin that there is no noticeable height (though with solid ink printers, it is somewhat thicker). <br><br><a href="#about" class="joinbtn" style="color: black; font-family: sans-serif;">Linking Page</a><br></p>
        </div>
    </div>
   {{> footer}}
</body>

</html>