<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="style.css">
     <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/Fixed-navbar-starting-with-transparency-1.css">
    <link rel="stylesheet" href="assets/css/Fixed-navbar-starting-with-transparency.css">
    <link rel="stylesheet" href="assets/css/--mp---Testimonials-Slider.css">
    <link rel="stylesheet" href="assets/css/animated-services.css">
    <link rel="stylesheet" href="assets/css/Animated-Testimomial-1.css">
    <link rel="stylesheet" href="assets/css/Animated-Testimomial.css">
    <link rel="stylesheet" href="assets/css/Animation-Cards-1.css">
    <link rel="stylesheet" href="assets/css/Animation-Cards.css">
    <link rel="stylesheet" href="assets/css/Bold-BS4-Cards-with-Hover-Effect-142-1.css">
    <link rel="stylesheet" href="assets/css/Bold-BS4-Cards-with-Hover-Effect-142.css">
    <link rel="stylesheet" href="assets/css/Bold-BS4-Cards-with-Hover-Effect-74-1.css">
    <link rel="stylesheet" href="assets/css/Bold-BS4-Cards-with-Hover-Effect-74.css">
    <link rel="stylesheet" href="assets/css/Bootstrap-4---Full-Video-Background-v2.css">
    <link rel="stylesheet" href="assets/css/card-3-column-animation-shadows-images.css">
    <link rel="stylesheet" href="assets/css/dh-card-image-left-dark.css">
    <link rel="stylesheet" href="assets/css/dh-header-cover-image-button.css">
    <link rel="stylesheet" href="assets/css/dh-row-text-image-right-responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Pretty-Footer.css">
    <link rel="stylesheet" href="assets/css/Projects-Horizontal.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/Swiper-Slider-Card-For-Blog-Or-Product-1.css">
    <link rel="stylesheet" href="assets/css/Swiper-Slider-Card-For-Blog-Or-Product.css">
    <link rel="stylesheet" href="assets/css/Team-with-rotating-cards.css">
    <link rel="stylesheet" href="assets/css/Team.css">
    <link rel="stylesheet" href="assets/css/Testimonial-Slider-9-1.css">
    <link rel="stylesheet" href="assets/css/Testimonial-Slider-9.css">
    <link rel="stylesheet" href="assets/css/Ultimate-Testimonial-Slider.css">
    <link rel="stylesheet" href="assets/css/Vdeo.css">
    <link rel="stylesheet" href="assets/css/WOWSlider-about-us-1.css">
    <link rel="stylesheet" href="assets/css/WOWSlider-about-us-2.css">
    <link rel="stylesheet" href="assets/css/WOWSlider-about-us.css">
   
</head>
<body>
    
       
    </script>
     <section id="services" class="services" >
        <div class="container-md section-title">
            <div class="text-center">
                <h1 style="color: black;margin: 37px;padding: 19px;">Sign <span style="color: black;">&nbsp;Up</span></h1>
            </div>
            <div class="row" >
                <div class="col-9 text-center col-md-6  d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box" style="box-shadow: 0px 0px 6px 1px rgb(136,134,134);">
                        <div class="icon"><i class="fab fa-dribbble" style="margin-bottom: 15px;"></i>
                            <h4 class="title">SFL for Students<a href="#"></a></h4>
                            <p class="description">SFL youth membership plans are for students.Student as young as a 5-year-old can join SFL but will need to be accompanied by their parents or teachers. Student above the age of 13 years can freely come to the lab and use the facilities. You will have access to all the basic machines and will also be provided with the proper training to use the machines. SFL team will always be there to help you.<br>&nbsp; &nbsp; &nbsp;&nbsp;</p><a href="/signup" class="joinbtn" style="color:black;">Sign Up Here</a>
                        </div>
                    </div>
                </div>
                <div class="col-9 text-center col-md-6  d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box" style="box-shadow: 0px 0px 6px 1px rgb(136,134,134);">
                        <div class="icon"><i class="fab fa-renren" style="margin-bottom: 15px;"></i>
                            <h4 class="title">Community<a href="#"></a></h4>
                            <p class="description">SFL open membership plan is for anyone who just wants to learn. It is open for maker, hackers, and hobbyist. It is also open for families and friends to join.You will have access to all the basic machines and will also be provided with the proper training to use the machines. SFL team will always be there to help you.<br>&nbsp; &nbsp; &nbsp;&nbsp;</p><a href="/community" class="joinbtn" style="color:black;">Sign Up here</a>
                        </div>
                    </div>
                </div>
                <div class="col-9 text-center col-md-6 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box" style="box-shadow: 0px 0px 6px 1px rgb(136,134,134);margin-top:20px;">
                        <div class="icon"><i class="fab fa-codepen" style="margin-bottom: 15px;"></i>
                            <h4 class="title">Start up<a href="#"></a></h4>
                            <p class="description">SFL Creator is for the Start-ups and entrepreneurs who have been looking for a place to prototype their ideas. SFL will provide you with a platform and a fabricating space for your product. SFL team will guide and help you to turn you into a marketable product. You will have access to most of the machines except for the ones with special training requirements. You will also get trained in the digital fabrication technology.<br>&nbsp; &nbsp; &nbsp;&nbsp;</p><a href="/startup" class="joinbtn" style="color:black;">Sign Up Here</a>
                        </div>
                    </div>
                </div>
                <div class="col-9 text-center col-md-6  d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box" style="box-shadow: 0px 0px 6px 1px rgb(136,134,134); margin-top:20px">
                        <div class="icon"><i class="fab fa-codepen" style="margin-bottom: 15px;"></i>
                            <h4 class="title">Business<a href="#"></a></h4>
                            <p class="description">SFL business is for Companies, agencies and state/government looking for a collaborative project or resources. SFL has a huge capacity in-term of machines, which can be used for research or prototyping. SFL business members will have access to all the resources available in the lab and any type of support needed for their projects.<br>&nbsp; &nbsp; &nbsp;&nbsp;</p><a href="/company" class="joinbtn" style="color:black;">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>