<%- include('partials/header.ejs')  %>
<div class="container" style="padding-top: 2rem;">
    <h1 style="text-align: center; margin-top: 60px; padding: 7px; font-size: 2.5rem;">Research And Development</h1>
    <h4 style="text-align: center; margin-top: -15px;">Fostering A Sustainable Culture Of Creation</h4>
</div><br>
        
 <!--CARDS START--> 
<div class="row" style="margin-left: 1.2rem; margin-right: 2rem;">           
    <div class="col-8" style=" padding-left: 2rem; width: 65%;">
        <div class="row clearmargin clearpadding row-image-txt " style=" background: #fff; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border-radius: 40px;">
            <div class="col-xs-12 col-sm-6 col-md-6 clearmargin clearpadding col-sm-push-6" style="background-image:url(assets/img/p6.jpg);background-size:cover;height:350px;background-position:center; border-radius: 40px;"> 
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-sm-pull-6" style="padding:20px;text-align: center;">
                <h4>In-house venture: 3D printer project</h4>
                <hr>
                <p>SFL is currently exploring building its own 3D printer -  which will be cheaper than the commercial printer. In the long run, the lab will aim to supply these printers to schools. </p><br>
                <div style="text-align:center"><a href="inventure" class="joinbtn">Read more</a></div>
            </div>        
        </div><br> 

    
        <div class="row clearmargin clearpadding row-image-txt" style="background: #fff; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border-radius: 40px;">
            <div class="col-xs-12 col-sm-6 col-md-6 clearmargin clearpadding col-sm-push-6" style="background-image:url(assets/img/drone.jpg);background-size:cover;height:350px;background-position:center; border-radius: 40px;"> 
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-sm-pull-6" style="padding:20px;text-align: center;">
                <h4>Machine Making Machine Project<br></h4>
                <hr>
                <p>In consultation with the MIT Center of Bits and Atoms, SFL will build a multi functional Clank FXY machine.</p><br>
                <div style="text-align:center"><a href="inventure" class="joinbtn">Read more</a></div>
            </div>     
        </div><br>  

    
        <div class="row clearmargin clearpadding row-image-txt" style="background: #fff; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border-radius: 40px;">
            <div class="col-xs-12 col-sm-6 col-md-6 clearmargin clearpadding col-sm-push-6" style="background-image:url(assets/img/p2.jpg);background-size:cover;height:350px;background-position:center; border-radius: 40px;">
             
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-sm-pull-6" style="padding:20px;text-align: center;">
                <h4>Drone Project in Collaboration with MIT</h4>
                <hr>
                <p></p><br>
                <div style="text-align:center"><a href="inventure" class="joinbtn">Read more</a></div>
            </div>    
        </div><br>  
        </div><br> 


<!--newly inserted code edition-->
    <div class="col-4">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-sm-pull-4 " style="margin-left: 2rem; width: 100%;  border-left: 3px solid orange; background: #fff;  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; padding-top: 20px; padding-right:0rem;">
               <center><h4 style="font-family: bell; font-size: 1.2rem;">Past Project</h4></center><hr>
                <ul>
                    <li style="font-family: bell;">
                        <a href="https://innotech.dhi.bt/stem-camp-innotech-participation/" title="InnoTech Participates to Deliver Girl STEM Camp 2021" style="color: gray; text-decoration: none;">InnoTech Participates to Deliver Girl STEM Camp 2021</a>
                    </li>
                </ul>
                <ul>
                    <li style="font-family: bell;">
                        <a href="https://innotech.dhi.bt/innovation-tech-conference/" title="Innotech Hosts Innovation &amp; Technology Conference" style="color: gray; text-decoration: none;">Innotech Hosts Innovation &amp; Technology Conference</a>
                    </li>
                </ul>
                <ul>
                    <li style="font-family: bell;">
                        <a href="https://innotech.dhi.bt/information-session-techhack/" title="Virtual Information Session on Group Innovation Challenge"style="color: gray; text-decoration: none;">Virtual Information Session on Group Innovation Challenge</a>
                    </li>
                </ul>
                <ul>
                    <li style="font-family: bell;">
                        <a href="https://innotech.dhi.bt/vacancy-announcement/" title="Vacancy Announcement from DHI InnoTech" style="color: gray; text-decoration: none;">Vacancy Announcement from DHI InnoTech</a>
                    </li>
                </ul>
                <ul>
                    <li style="font-family: bell;">
                        <a href="https://innotech.dhi.bt/on-the-job-training-program/" title="DITT in Collaboration with DHI Launches On-the-Job Training for Fresh Graduates" style="color: gray; text-decoration: none;">DITT in Collaboration with DHI Launches On-the-Job Training for Fresh Graduateshhh</a>
                    </li>
                </ul>
            </div>
        </div>
        <br>  
    </div>
</div>
</div>
</div>


<!--till here is the new one--> 

</div></div>
</div>
<%- include('partials/footer.ejs') %>
</body>

</html>