<%- include('partials/header.ejs')  %>
    <div class="container" style="margin: 25px;padding: 126px;height: 210px;">
        <h1 style="text-align: center;height: -27px;padding: -25px;margin: -26px;">TRAINING RESOURCES</h1>
    </div>
    <section style="margin: -30px;">
        <div class="container" style="margin-top: -100px;">
            <div class="row">
                <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4" style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;">
                    <div class="bg-light border rounded shadow card" data-bss-hover-animate="pulse"><img class="card-img-top" src="assets/img/p6.jpg">
                        <div class="card-body">
                            <h3 class="card-title" style="font-family: Antic, sans-serif;color: black;">3D PRINTER</h3><p id="lorem">The 3D printing landscape is a wild, and vast landscape containing a myriad of printers, materials, software and crowdfunding projects.</p><a href="#about" class="joinbtn">Download now</a><!-- <button class="btn btn-outline-success" type="button" style="font-weight: normal;font-family: Antic, sans-serif;">READ MORE&nbsp;<i class="fa fa-long-arrow-right"></i></button> -->
                        </div>
                    </div>
                </div>
                <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4" style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;margin-right: 0px;margin-bottom: 0px;">
                    <div class="bg-light border rounded shadow card" data-bss-hover-animate="pulse"><img class="card-img-top" src="assets/img/tro.jpg">
                        <div class="card-body">
                            <h3 class="card-title" style="font-family: Antic, sans-serif;color:black;">TENSOR FLOW</h3><p id="lorem">Biological sensors can be used to take air quality readings and check for the presence of specific micro-organisms or organic compounds.</p><a href="#about" class="joinbtn">Download now</a><!-- <button class="btn btn-outline-success" type="button" style="font-weight: normal;font-family: Antic, sans-serif;">READ MORE&nbsp;<i class="fa fa-long-arrow-right"></i></button> -->
                        </div>
                    </div>
                </div>
                <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4" style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;">
                    <div class="bg-light border rounded shadow card" data-bss-hover-animate="pulse"><img class="card-img-top" src="assets/img/drone.jpg">
                        <div class="card-body">
                            <h3 class="card-title" style="font-family: Antic, sans-serif;color: black;">DRONE</h3><p id="lorem">Businesses use laser printers almost exclusively because they have the reputation of being reliable while making a quality print product.</p><a href="#about" class="joinbtn">Download now</a><!-- <button class="btn btn-outline-success" type="button" style="font-weight: normal;font-family: Antic, sans-serif;">READ MORE&nbsp;<i class="fa fa-long-arrow-right"></i></button> -->
                        </div>
                    </div>
                </div>
                <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4" style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;">
                    <div class="bg-light border rounded shadow card" data-bss-hover-animate="pulse"><img class="card-img-top" src="assets/img/printer1.jpg">
                        <div class="card-body">
                            <h3 class="card-title" style="font-family: Antic, sans-serif;color: black;">FABLAB</h3><p id="lorem">Businesses use laser printers almost exclusively because they have the reputation of being reliable while making a quality print product.</p><a href="#about" class="joinbtn">Download now</a><!-- <button class="btn btn-outline-success" type="button" style="font-weight: normal;font-family: Antic, sans-serif;">READ MORE&nbsp;<i class="fa fa-long-arrow-right"></i></button> -->
                        </div>
                    </div>
                </div>
                <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4" style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;">
                    <div class="bg-light border rounded shadow card" data-bss-hover-animate="pulse"><img class="card-img-top" src="assets/img/laser.jpg">
                        <div class="card-body">
                            <h3 class="card-title" style="font-family: Antic, sans-serif;color: black;">ANIMATOR</h3><p id="lorem">Businesses use laser printers almost exclusively because they have the reputation of being reliable while making a quality print product.</p><a href="#about" class="joinbtn">Download now</a><!-- <button class="btn btn-outline-success" type="button" style="font-weight: normal;font-family: Antic, sans-serif;">READ MORE&nbsp;<i class="fa fa-long-arrow-right"></i></button> -->
                        </div>
                    </div>
                </div>
                <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4" style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;">
                    <div class="bg-light border rounded shadow card" data-bss-hover-animate="pulse"><img class="card-img-top" src="assets/img/tro.jpg">
                        <div class="card-body">
                            <h3 class="card-title" style="font-family: Antic, sans-serif;color: black;">CRT CUTTER</h3><p id="lorem">Businesses use laser printers almost exclusively because they have the reputation of being reliable while making a quality print product.</p><a href="#about" class="joinbtn">Download now</a><!-- <button class="btn btn-outline-success" type="button" style="font-weight: normal;font-family: Antic, sans-serif; border: 1px solid orange;">READ MORE&nbsp;<i class="fa fa-long-arrow-right"></i></button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{> footer}}
</body>

</html>