<%- include('partials/header.ejs')  %>

<div class="container" style="padding-top: 2rem;">
    <h1 style="text-align: center; margin-top: 50px; padding: 7px; font-size: 2.5rem;">Resources</h1>
    <h4 style="text-align: center ; margin-top: -16px;">Learn from a vibrant ecosystem of innovators </h4>
</div><br><br>
        
 <!--CARDS START--> 
<section class="article-list" style="margin-top: -45px;">
    <div class="container">
        <div class="row articles">
            <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="assets/img/laser.jpg" style="border-radius: 20px;"></a>
                <h3 class="name" style="font-family: bell; font-size: 1.3rem; ">Training Resources</h3>
                <p class="description" style="font-family: bell;font-size: 16px; color: gray; ">Here we define resources as everything you need for your training course to go ahead. This includes your trainers, venues and equipment for the day.In this guide we break down each of these and explain how you can manage your resources more effectively.</p><a class="action" href="trainingresource"><i class="fa fa-arrow-circle-right" style="color: #f17b59;"></i></a>
            </div>
            <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="assets/img/drone.jpg" style="border-radius: 20px;"></a>
                <h3 class="name" style="font-family: bell; font-size: 1.3rem;">Machine Manuals</h3>
                <p class="description" style="font-size: 16px;font-family: bell; color: gray;">Manual tools are ideal for simple tasks such as milling a flat, drilling a hole, grinding a precision block, and turning a shaft. They are excellent at making quick work simple without the indeed for programming and complex setups.</p><a class="action" href="machinemanual"><i class="fa fa-arrow-circle-right" style="color: #f17b59;"></i></a>
            </div>
            <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="assets/img/img1.jpg" style="border-radius: 20px;"></a>
                <h3 class="name" style="font-family: bell; font-size: 1.3rem;">Video Tutorials</h3>
                <p class="description" style="font-size: 16px;font-family: bell; color: gray;"></p><a class="action" href="video"><i class="fa fa-arrow-circle-right" style="color: #f17b59;"></i></a>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer.ejs')  %>
