<%- include('partials/header.ejs')  %>

<div class="container" style="padding-top: 2rem;">
    <h1 style="text-align: center; margin-top: 50px; padding: 7px; font-size: 2.5rem;"><b>Resources</b></h1>
    <h4 style="text-align: center ; margin-top: -16px;">Learn from a vibrant ecosystem of innovators </h4><br>
</div><br><br>
        
 <!--CARDS START--> 
<section class="article-list" style="margin-top: -45px;">
    <div class="container">
        <div class="row articles">
            <div class="col-sm-6 col-md-4 item">
                <h3 class="name" style="font-family: bell; font-size: 1.3rem; text-align: center; ">Training Resources</h3>
                
                <a href="#"></a><img class="img-fluid" src="assets/img/laser.jpg" style="border-radius: 20px;"></a>
                <p class="description" style="font-family: bell;font-size: 16px; color: gray; "></p><a href="machinemanual" class="joinbtn" style="margin-left: 105px;">Read more</a><br><br>
            </div>
            <div class="col-sm-6 col-md-4 item">
                <h3 class="name" style="font-family: bell; font-size: 1.3rem;text-align: center;">Machine Manuals</h3>
                <a href="#"><img class="img-fluid" src="assets/img/drone.jpg" style="border-radius: 20px;"></a>
                <p class="description" style="font-size: 16px;font-family: bell; color: gray;"></p><a href="machinemanual" class="joinbtn" style="margin-left: 105px;">Read more</a>
            </div>
            <div class="col-sm-6 col-md-4 item">
                <h3 class="name" style="font-family: bell; font-size: 1.3rem;text-align: center;">Video Tutorials</h3>
                <a href="#"><img class="img-fluid" src="assets/img/img1.jpg" style="border-radius: 20px;"></a>
               
                <p class="description" style="font-size: 16px;font-family: bell; color: gray;"></p><a href="video" class="joinbtn" style="margin-left: 105px;">Read more</a>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer.ejs')  %>
