<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap" rel="stylesheet">
    <!-- Bootstrap CDN  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/bootstrap/css/style.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Student form</title>
   </head>
   <style>
    body {
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
padding: 10px;
background-image: url(assets/img/b3.jpg);
}
  </style>
<body>
  <div class="container" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border-radius: 40px; border-bottom: 3px solid #f37b53;">
    <div style="margin: 0 auto;" class="col-12 col-md-12  customborder">
      <br><br><br><br><br><br>
        <% if(typeof err !='undefined' ){ %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong> Error </strong>
                <%= err %>.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>
    </div>
    <div class="title">For Student Membership Form</div>
   
    <div class="content">
      <form action="/signup" method="POST">
        
        <div class="user-details">
          <div class="input-box">
            <span class="details">Full Name</span>
            <input type="text" placeholder="Enter your name" required name="username" autocomplete="off">
          </div>
          <div class="input-box">
            <span class="details">School Name</span>
            <input type="text" placeholder="Enter your school name" required name="schoolName" autocomplete="off">
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="Enter your email" required name="email" autocomplete="off">
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="text" placeholder="Enter your number" required name="phoneNumber" autocomplete="off">
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" placeholder="Enter your password" required name="password" autocomplete="off">
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="password" placeholder="Confirm your password" required name="confirmpassword" autocomplete="off">
          </div>
          <input type="file" name="files" value="CID">
        </div>
        <div class="gender-details">
          <input type="radio" name="gender" value="male" id="dot-1">
          <input type="radio" name="gender" value="female" id="dot-2">
          <!-- <input type="radio" name="gender" id="dot-3"> -->
          <span class="gender-title">Gender</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender" name ="male">Male</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender" name ="female">Female</span>
          </label>
         
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Register"><br><br>


        </div>
      </form>
      <div class="signup-link" style="text-align: center; text-decoration: none;"><span>
        Already to be a member?</span><span></span><a href="login">Login Now</a>
        </div>
    </div>
  </div><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
</body>
</html>
