<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startup form</title>
      <link rel="stylesheet" href="assets/bootstrap/css/style.css">
      <style>
        body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-image: url(assets/img/b3.jpg);
  }
      </style>
</head>
<body>
    <div class="container" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border-radius: 40px; border-bottom: 3px solid #f37b53;">
        <div class="title">For Startup Membership Form</div>
        <div class="content">
          <form action="/startup" method="POST">
      

            <div class="user-details">
              <div class="input-box">
                <span class="details">Firm name</span>
                <input type="text" placeholder="Enter your startup name" required name="firmName" autocomplete="off">
              </div>
              <div class="input-box">
                <span class="details">Location</span>
                <input type="text" placeholder="Enter your location" required name="Location" autocomplete="off">
              </div>
              <div class="input-box">
                <span class="details">Email</span>
                <input type="text" placeholder="Enter your startup firms email" required name="email" autocomplete="off">
              </div>
              <div class="input-box">
                <span class="details">Phone Number</span>
                <input type="text" placeholder="Enter your number" required name="phoneNumber" autocomplete="off">
              </div>
              <div class="input-box">
                <span class="details">Password</span>
                <input type="password" placeholder="Enter your password" required name="password" autocomplete="off">
              </div>
              <div class="input-box">
                <span class="details">Confirm Password</span>
                <input type="password" placeholder="Confirm your password" required name="confirmpassword" autocomplete="off">
              </div>
            </div>
          
            <div class="button">
              <input type="submit" value="Register">
            </div>
          </form>
        </div>
      </div>
    
    
</body>
</html>