<%- include('partials/header.ejs')  %>

<br><br>
<h1 style="margin: 60px; margin-top: 100px; padding-bottom: 40px; text-align: center;font-size: 2.5rem;font-family: montserrat, sans-serif; margin-top: 50px; margin-bottom: -50px;"><b>Meet Our Team</b></h1>
<section class="team-grid">
    <div class="container">
        <div class="row people">
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(assets/img/pema.png); border-radius: 20px;">
                    <div class="cover">
                        <h3 class="name">Pema Thinley</h3>
                        <p class="title" style="font-family: bell;">Analyst</p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
            </div> 
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(assets/img/tshering.png); border-radius: 20px;">
                    <div class="cover">
                        <h3 class="name">Tshering Wangzom </h3>
                        <p class="title" style="font-family: bell;">Analyst</p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(assets/img/zina.png); border-radius: 30px;">
                    <div class="cover" style="border-radius: 20px;">
                        <h3 class="name">Zina Choden Yonten</h3>
                        <p class="title" style="font-family: bell;">Associate Analyst</p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(assets/img/tharc.png); border-radius: 20px;">
                    <div class="cover">
                        <h3 class="name">Jigme Tharchen</h3>
                        <p class="title" style="font-family: bell;">Associate Analyst</p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item" style="margin-top: 20px;">
                <div class="box" style="background-image:url(assets/img/manish.png); border-radius: 20px;">
                    <div class="cover">
                        <h3 class="name">Manish Rai</h3>
                        <p class="title" style="font-family: bell;">Associate Analyst</p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item"style="margin-top: 20px;">
                <div class="box" style="background-image:url(assets/img/ava.png); border-radius: 20px;">
                    <div class="cover">
                        <h3 class="name">Thinley Dorji Wangchuk</h3>
                        <p class="title" style="font-family: bell;">Associate Analyst</p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item"style="margin-top: 20px;">
                <div class="box" style="background-image:url(assets/img/ava.png); border-radius: 20px;">
                    <div class="cover">
                        <h3 class="name">No name</h3>
                        <p class="title" style="font-family: bell;">Associate Analyst</p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item"style="margin-top: 20px;">
                <div class="box" style="background-image:url(assets/img/ava.png); border-radius: 20px;">
                    <div class="cover">
                        <h3 class="name">No name</h3>
                        <p class="title" style="font-family: bell;">Associate Analyst</p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer.ejs')  %>