<main class="page">
    <section class="clean-block about-us">
        <div class="container" style="padding: 55px;">
            <div class="block-heading" style="margin-top: 45px;">
            </div>
            <h1 style="color: black;margin-bottom: 0px; margin-top: -40px; margin: 0px; padding-top: 0.1px; font-size: 2.5rem; font-family: 'montserrat', sans-serif; text-align: center;">Tutorials</h1>
        </div>
    </section>

    <style>
#more {display: none;}
</style>
</head>
<body>

<h2 style="text-align: center; margin-top: -50px;">Carpentary Lab</h2>
        <div class="container">
            <div class="row justify-content-center" style="margin-top: 30px;">
                <div class="col-sm-12 col-md-6 col-lg-4" style="border-style: none;">
                    <div class="card clean-card text-center" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube-nocookie.com/embed/7aipHynsoLo" style="height: 200px; border-radius: 30px;"></iframe>
                        <div class="card-body info">
                            <h4 class="card-title" style="color: black;">ShopBot</h4>
                            <p class="card-text" style="color: grey;font-size: 17px;">A CNC cutting machine's most obvious characteristic is that it cuts through direct physical contact.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4" style="border-style: none;">
                    <div class="card clean-card text-center" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube-nocookie.com/embed/gSPlAW44bXQ" style="height: 200px; border-radius: 30px;"></iframe>
                        <div class="card-body info">
                            <h4 class="card-title" style="color: black;">Mini Mill</h4>
                            <p class="card-text" style="color: grey;font-size: 17px;">A CNC cutting machine's most obvious characteristic is that it cuts through direct physical contact.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4" style="border-style: none;">
                    <div class="card clean-card text-center" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube-nocookie.com/embed/f1Cx54yr_hE" style="height: 200px; border-radius: 30px;"></iframe>
                        <div class="card-body info">
                            <h4 class="card-title" style="color: black;">Vinyl Cutter</h4>
                            <p class="card-text" style="color: grey;font-size: 17px;">A CNC cutting machine's most obvious characteristic is that it cuts through direct physical contact.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<span id="dots"></span><span id="more">
<div class="container">
            <div class="row justify-content-center" style="margin-top: 65px;">
                <div class="col-sm-12 col-md-6 col-lg-4" style="border-style: none;">
                    <div class="card clean-card text-center" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube-nocookie.com/embed/7aipHynsoLo" style="height: 200px; border-radius: 30px;"></iframe>
                        <div class="card-body info">
                            <h4 class="card-title" style="color: black;">MINI MILL</h4>
                            <p class="card-text" style="color: grey;font-size: 17px;">A CNC cutting machine's most obvious characteristic is that it cuts through direct physical contact.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4" style="border-style: none;">
                    <div class="card clean-card text-center" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube-nocookie.com/embed/gSPlAW44bXQ" style="height: 200px; border-radius: 30px;"></iframe>
                        <div class="card-body info">
                            <h4 class="card-title" style="color: black;">TORTEC 400 FLEX</h4>
                            <p class="card-text" style="color: grey;font-size: 17px;">A CNC cutting machine's most obvious characteristic is that it cuts through direct physical contact.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4" style="border-style: none;">
                    <div class="card clean-card text-center" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube-nocookie.com/embed/f1Cx54yr_hE" style="height: 200px; border-radius: 30px;"></iframe>
                        <div class="card-body info">
                            <h4 class="card-title" style="color: black;">SPOT WELDER</h4>
                            <p class="card-text" style="color: grey;font-size: 17px;">A CNC cutting machine's most obvious characteristic is that it cuts through direct physical contact.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div></span></p>
<button onclick="myFunction()" class="joinbtn" id="myBtn" style="margin-left: 5rem; border-radius: 40px; font-family: bell; border: 3px solid orange; width: 10rem;">More Video</button>

<!-- Electronic comment -->
<%- include('partials/header.ejs')  %>

<h2 style="text-align: center; margin-top: 50px;">Electronic Lab</h2>
        <div class="container">
            <div class="row justify-content-center" style="margin-top: 30px;">
                <div class="col-sm-12 col-md-6 col-lg-4" style="border-style: none;">
                    <div class="card clean-card text-center" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube-nocookie.com/embed/7aipHynsoLo" style="height: 200px; border-radius: 30px;"></iframe>
                        <div class="card-body info">
                            <h4 class="card-title" style="color: black;">3D Printer</h4>
                            <p class="card-text" style="color: grey;font-size: 17px;">A CNC cutting machine's most obvious characteristic is that it cuts through direct physical contact.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4" style="border-style: none;">
                    <div class="card clean-card text-center" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube-nocookie.com/embed/gSPlAW44bXQ" style="height: 200px; border-radius: 30px;"></iframe>
                        <div class="card-body info">
                            <h4 class="card-title" style="color: black;">Mechatronika</h4>
                            <p class="card-text" style="color: grey;font-size: 17px;">A CNC cutting machine's most obvious characteristic is that it cuts through direct physical contact.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4" style="border-style: none;">
                    <div class="card clean-card text-center" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube-nocookie.com/embed/f1Cx54yr_hE" style="height: 200px; border-radius: 30px;"></iframe>
                        <div class="card-body info">
                            <h4 class="card-title" style="color: black;">Polyjet Printer</h4>
                            <p class="card-text" style="color: grey;font-size: 17px;">A CNC cutting machine's most obvious characteristic is that it cuts through direct physical contact.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<span id="dots2"></span><span id="more2">
<div class="container">
            <div class="row justify-content-center" style="margin-top: 65px;">
                <div class="col-sm-12 col-md-6 col-lg-4" style="border-style: none;">
                    <div class="card clean-card text-center" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube-nocookie.com/embed/7aipHynsoLo" style="height: 200px; border-radius: 30px;"></iframe>
                        <div class="card-body info">
                            <h4 class="card-title" style="color: black;">MINI MILL</h4>
                            <p class="card-text" style="color: grey;font-size: 17px;">A CNC cutting machine's most obvious characteristic is that it cuts through direct physical contact.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4" style="border-style: none;">
                    <div class="card clean-card text-center" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube-nocookie.com/embed/gSPlAW44bXQ" style="height: 200px; border-radius: 30px;"></iframe>
                        <div class="card-body info">
                            <h4 class="card-title" style="color: black;">TORTEC 400 FLEX</h4>
                            <p class="card-text" style="color: grey;font-size: 17px;">A CNC cutting machine's most obvious characteristic is that it cuts through direct physical contact.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4" style="border-style: none;">
                    <div class="card clean-card text-center" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube-nocookie.com/embed/f1Cx54yr_hE" style="height: 200px; border-radius: 30px;"></iframe>
                        <div class="card-body info">
                            <h4 class="card-title" style="color: black;">SPOT WELDER</h4>
                            <p class="card-text" style="color: grey;font-size: 17px;">A CNC cutting machine's most obvious characteristic is that it cuts through direct physical contact.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div></span></p>
<button onclick="myFunction2()" class="joinbtn" id="myBtn2" style="margin-left: 5rem; border-radius: 40px; font-family: bell; border: 3px solid orange; width: 10rem;">More Video</button>

<!-- Machinary lab -->

<h2 style="text-align: center; margin-top: 50px;">Heavy Machinary Lab</h2>
        <div class="container">
            <div class="row justify-content-center" style="margin-top: 30px;">
                <div class="col-sm-12 col-md-6 col-lg-4" style="border-style: none;">
                    <div class="card clean-card text-center" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube-nocookie.com/embed/7aipHynsoLo" style="height: 200px; border-radius: 30px;"></iframe>
                        <div class="card-body info">
                            <h4 class="card-title" style="color: black;">Waterjet Cutter</h4>
                            <p class="card-text" style="color: grey;font-size: 17px;">A CNC cutting machine's most obvious characteristic is that it cuts through direct physical contact.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4" style="border-style: none;">
                    <div class="card clean-card text-center" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube-nocookie.com/embed/gSPlAW44bXQ" style="height: 200px; border-radius: 30px;"></iframe>
                        <div class="card-body info">
                            <h4 class="card-title" style="color: black;">Zund G3</h4>
                            <p class="card-text" style="color: grey;font-size: 17px;">A CNC cutting machine's most obvious characteristic is that it cuts through direct physical contact.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4" style="border-style: none;">
                    <div class="card clean-card text-center" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube-nocookie.com/embed/f1Cx54yr_hE" style="height: 200px; border-radius: 30px;"></iframe>
                        <div class="card-body info">
                            <h4 class="card-title" style="color: black;">TAI CNC</h4>
                            <p class="card-text" style="color: grey;font-size: 17px;">A CNC cutting machine's most obvious characteristic is that it cuts through direct physical contact.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<span id="dots3"></span><span id="more3">
<div class="container">
            <div class="row justify-content-center" style="margin-top: 65px;">
                <div class="col-sm-12 col-md-6 col-lg-4" style="border-style: none;">
                    <div class="card clean-card text-center" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube-nocookie.com/embed/7aipHynsoLo" style="height: 200px; border-radius: 30px;"></iframe>
                        <div class="card-body info">
                            <h4 class="card-title" style="color: black;">Lathe Machine</h4>
                            <p class="card-text" style="color: grey;font-size: 17px;">A CNC cutting machine's most obvious characteristic is that it cuts through direct physical contact.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4" style="border-style: none;">
                    <div class="card clean-card text-center" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube-nocookie.com/embed/gSPlAW44bXQ" style="height: 200px; border-radius: 30px;"></iframe>
                        <div class="card-body info">
                            <h4 class="card-title" style="color: black;">Motor Drive</h4>
                            <p class="card-text" style="color: grey;font-size: 17px;">A CNC cutting machine's most obvious characteristic is that it cuts through direct physical contact.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4" style="border-style: none;">
                    <div class="card clean-card text-center" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube-nocookie.com/embed/f1Cx54yr_hE" style="height: 200px; border-radius: 30px;"></iframe>
                        <div class="card-body info">
                            <h4 class="card-title" style="color: black;">SPOT WELDER</h4>
                            <p class="card-text" style="color: grey;font-size: 17px;">A CNC cutting machine's most obvious characteristic is that it cuts through direct physical contact.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div></span></p>
<button onclick="myFunction3()" class="joinbtn" id="myBtn3" style="margin-left: 5rem; border-radius: 40px; font-family: bell; border: 3px solid orange; width: 10rem;">More Video</button>

<!-- metal work lab -->

<h2 style="text-align: center; margin-top: 50px;">Metal Work Lab</h2>
        <div class="container">
            <div class="row justify-content-center" style="margin-top: 30px;">
                <div class="col-sm-12 col-md-6 col-lg-4" style="border-style: none;">
                    <div class="card clean-card text-center" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube-nocookie.com/embed/7aipHynsoLo" style="height: 200px; border-radius: 30px;"></iframe>
                        <div class="card-body info">
                            <h4 class="card-title" style="color: black;">Laser Cutter</h4>
                            <p class="card-text" style="color: grey;font-size: 17px;">A CNC cutting machine's most obvious characteristic is that it cuts through direct physical contact.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4" style="border-style: none;">
                    <div class="card clean-card text-center" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube-nocookie.com/embed/gSPlAW44bXQ" style="height: 200px; border-radius: 30px;"></iframe>
                        <div class="card-body info">
                            <h4 class="card-title" style="color: black;">Injection Molder</h4>
                            <p class="card-text" style="color: grey;font-size: 17px;">A CNC cutting machine's most obvious characteristic is that it cuts through direct physical contact.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4" style="border-style: none;">
                    <div class="card clean-card text-center" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube-nocookie.com/embed/f1Cx54yr_hE" style="height: 200px; border-radius: 30px;"></iframe>
                        <div class="card-body info">
                            <h4 class="card-title" style="color: black;">Welding Machine</h4>
                            <p class="card-text" style="color: grey;font-size: 17px;">A CNC cutting machine's most obvious characteristic is that it cuts through direct physical contact.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<span id="dots4"></span><span id="more4">
<div class="container">
            <div class="row justify-content-center" style="margin-top: 65px;">
                <div class="col-sm-12 col-md-6 col-lg-4" style="border-style: none;">
                    <div class="card clean-card text-center" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube-nocookie.com/embed/7aipHynsoLo" style="height: 200px; border-radius: 30px;"></iframe>
                        <div class="card-body info">
                            <h4 class="card-title" style="color: black;">MINI MILL</h4>
                            <p class="card-text" style="color: grey;font-size: 17px;">A CNC cutting machine's most obvious characteristic is that it cuts through direct physical contact.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4" style="border-style: none;">
                    <div class="card clean-card text-center" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube-nocookie.com/embed/gSPlAW44bXQ" style="height: 200px; border-radius: 30px;"></iframe>
                        <div class="card-body info">
                            <h4 class="card-title" style="color: black;">TORTEC 400 FLEX</h4>
                            <p class="card-text" style="color: grey;font-size: 17px;">A CNC cutting machine's most obvious characteristic is that it cuts through direct physical contact.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4" style="border-style: none;">
                    <div class="card clean-card text-center" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube-nocookie.com/embed/f1Cx54yr_hE" style="height: 200px; border-radius: 30px;"></iframe>
                        <div class="card-body info">
                            <h4 class="card-title" style="color: black;">SPOT WELDER</h4>
                            <p class="card-text" style="color: grey;font-size: 17px;">A CNC cutting machine's most obvious characteristic is that it cuts through direct physical contact.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div></span></p>
<button onclick="myFunction4()" class="joinbtn" id="myBtn4" style="margin-left: 5rem; border-radius: 40px; font-family: bell; border: 3px solid orange; width: 10rem;">More Video</button>
</main>
<%- include('partials/footer.ejs')  %>
