
    <div class="search">
        <form
        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" action="/search", method="get" >
        <div class="input-group ">
            <input type="search" class="form-control bg-light border-1 small" name="dsearch" placeholder="Search for..."
                aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>
    <!-- <select id="navControl" class="form-control">
        <option selected>Electronic Lab</option>
        <option >Electronic Lab</option>
        <option >metal Lab</option>
        <option >heavy Lab</option>
        <option >carpentary Lab</option>
    </select> -->
    </div>

    
    